<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.doi-removal</string>
	<key>category</key>
	<string>Academic</string>
	<key>connections</key>
	<dict>
		<key>1F9C24D3-38F5-4189-83F7-4C8438B883AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D427066-5C52-4C97-B660-9A3E8E3B7B89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3D427066-5C52-4C97-B660-9A3E8E3B7B89</key>
		<array/>
		<key>5992B024-6E40-41C3-BDFF-E64614197DDF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6DFB8040-4A9D-4A95-9C18-BD2E67AA109C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6DFB8040-4A9D-4A95-9C18-BD2E67AA109C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F9C24D3-38F5-4189-83F7-4C8438B883AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C316E904-9666-4D34-9E87-D39E0C53C880</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5992B024-6E40-41C3-BDFF-E64614197DDF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>When you REALLY need to get under that character limit.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>DOI Removal</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Remove DOIs from Selection</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>C316E904-9666-4D34-9E87-D39E0C53C880</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1F9C24D3-38F5-4189-83F7-4C8438B883AB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>🧹 DOIs removed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3D427066-5C52-4C97-B660-9A3E8E3B7B89</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string> ?https?:\/\/doi.org\/.*$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<true/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>5992B024-6E40-41C3-BDFF-E64614197DDF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string> ?DOI: .*?$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<true/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>6DFB8040-4A9D-4A95-9C18-BD2E67AA109C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1F9C24D3-38F5-4189-83F7-4C8438B883AB</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>pastes over selection</string>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>3D427066-5C52-4C97-B660-9A3E8E3B7B89</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>545</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>5992B024-6E40-41C3-BDFF-E64614197DDF</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>DOI-URL Removal Regex</string>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>6DFB8040-4A9D-4A95-9C18-BD2E67AA109C</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>DOI Removal Regex</string>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>C316E904-9666-4D34-9E87-D39E0C53C880</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
