<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.plain-text-utilities</string>
	<key>category</key>
	<string>Tweaks</string>
	<key>connections</key>
	<dict>
		<key>14BC0F4F-86A6-46AB-ADD7-9759E69297F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07C0AFC4-5404-468C-AFC5-5A874E7A18DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>17075203-C3A2-4EFE-89B4-75AC60FEB68D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78FC612D-9025-4276-9C40-E2C6A9E2EA1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>212F522C-B1E9-44AE-9169-75477701F1A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB08D528-65F7-4390-B425-68AF26A9C776</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>22CE272A-A695-4C98-8ADF-E1B98667D3B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BCAE773E-2CD3-4CBF-B877-3F90B0534A11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>25A411B2-E80F-403A-B5FD-3687171168EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>367EF5DF-53C7-4731-A1DC-185C54069491</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>25CF5DBB-0BFB-4075-B4DE-429D74BDA7C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8DABE6A6-9E4F-427B-8DB6-C1AA54BE16A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>367EF5DF-53C7-4731-A1DC-185C54069491</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BCAE773E-2CD3-4CBF-B877-3F90B0534A11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3773AE10-ACE2-4B7C-A99F-DB74EE7BC529</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC61A880-CA73-4A94-AC7E-F19B8D604465</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3AE6DB0D-BD07-40F6-A1EF-680B99D57C84</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BCAE773E-2CD3-4CBF-B877-3F90B0534A11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4584D693-1AB3-4A78-A985-BD5256898907</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5DF79E9-E309-4B48-A029-30B3AB0FEF13</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C2AB745-C095-455D-977C-48CA2B8B406C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F50A3340-1794-4FC0-96A2-E9296E281E07</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6AD52E8C-2CD9-477B-9C6E-393123615B72</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78208B2A-84BC-4C70-BD07-FC86C3F6DF3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>78208B2A-84BC-4C70-BD07-FC86C3F6DF3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E97CFCEF-F6E3-4176-9B8A-11B67D5EAB7D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>78FC612D-9025-4276-9C40-E2C6A9E2EA1B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9554704-41EA-4FCF-AD2C-B0D64C2D655E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8A722688-3EC5-4916-8756-69A85D1F0C06</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4681D85D-478B-484A-95A4-D7540690A8CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8DABE6A6-9E4F-427B-8DB6-C1AA54BE16A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F50A3340-1794-4FC0-96A2-E9296E281E07</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BB08D528-65F7-4390-B425-68AF26A9C776</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9554704-41EA-4FCF-AD2C-B0D64C2D655E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BCAE773E-2CD3-4CBF-B877-3F90B0534A11</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB99E030-DB45-4C5F-A64F-4234C0998270</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D08CA8F9-2C11-41A6-BDFA-428DB06F4222</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C5DF79E9-E309-4B48-A029-30B3AB0FEF13</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A722688-3EC5-4916-8756-69A85D1F0C06</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB80323E-4F47-48B2-9747-9E4135EC73CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C9F2728-AD97-470C-9DFE-58ADE8D2D388</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E2F99E8D-87AA-4ABB-985E-5771B7FCD094</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D08CA8F9-2C11-41A6-BDFA-428DB06F4222</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E061C2C7-8263-4964-9AA9-D56F54C5CCD4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E061C2C7-8263-4964-9AA9-D56F54C5CCD4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B423A0F0-E461-43B7-BA67-38089CF39848</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E97CFCEF-F6E3-4176-9B8A-11B67D5EAB7D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF402CBD-8784-45BE-9715-E3F97EDABA3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EBAE6D21-C0E3-4E4B-9B5D-2EBA1328914E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB80323E-4F47-48B2-9747-9E4135EC73CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EF402CBD-8784-45BE-9715-E3F97EDABA3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14BC0F4F-86A6-46AB-ADD7-9759E69297F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F50A3340-1794-4FC0-96A2-E9296E281E07</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3773AE10-ACE2-4B7C-A99F-DB74EE7BC529</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Plain Text Utilities</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{clipboard:1}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C5DF79E9-E309-4B48-A029-30B3AB0FEF13</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{clipboard:1}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4681D85D-478B-484A-95A4-D7540690A8CB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>9</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>V</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.sublimetext.4</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4584D693-1AB3-4A78-A985-BD5256898907</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>8A722688-3EC5-4916-8756-69A85D1F0C06</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>k</string>
				<key>subtext</key>
				<string>only URL</string>
				<key>text</key>
				<string>SearchLink: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>25A411B2-E80F-403A-B5FD-3687171168EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>query: '{query}'</string>
				<key>title</key>
				<string>⏳ SearchLink running...</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>AB99E030-DB45-4C5F-A64F-4234C0998270</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}!!</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>367EF5DF-53C7-4731-A1DC-185C54069491</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>k</string>
				<key>subtext</key>
				<string>Markdown Link</string>
				<key>text</key>
				<string>SearchLink: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>22CE272A-A695-4C98-8ADF-E1B98667D3B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>BCAE773E-2CD3-4CBF-B877-3F90B0534A11</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B423A0F0-E461-43B7-BA67-38089CF39848</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>automator -r -i "$*" ~/Library/Services/SearchLink.workflow | sed -n 2p | cut -d\" -f2</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D08CA8F9-2C11-41A6-BDFA-428DB06F4222</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>E061C2C7-8263-4964-9AA9-D56F54C5CCD4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>40</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>K</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3AE6DB0D-BD07-40F6-A1EF-680B99D57C84</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>result=$(echo "$toSearch" | grep --ignore-case "$*")

if [[ $? == 0 ]] ; then
	echo "$result" | pbcopy
	echo -n "✅ copied;;$result"
else
	echo -n "🛑 '$*' not found"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EF402CBD-8784-45BE-9715-E3F97EDABA3D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:split2}</string>
				<key>title</key>
				<string>{var:split1}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>07C0AFC4-5404-468C-AFC5-5A874E7A18DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Grep from Text</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>6AD52E8C-2CD9-477B-9C6E-393123615B72</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>grep: {query}</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E97CFCEF-F6E3-4176-9B8A-11B67D5EAB7D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>toSearch</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>78208B2A-84BC-4C70-BD07-FC86C3F6DF3D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>;;</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>14BC0F4F-86A6-46AB-ADD7-9759E69297F0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=/usr/local/lib:/usr/local/bin:/opt/homebrew/bin/:$PATH
dym --clean-output -n1 $LANG "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F50A3340-1794-4FC0-96A2-E9296E281E07</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Autocorrect (en)</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>5C2AB745-C095-455D-977C-48CA2B8B406C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>EC61A880-CA73-4A94-AC7E-F19B8D604465</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>3773AE10-ACE2-4B7C-A99F-DB74EE7BC529</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Autocorrect (de)</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>25CF5DBB-0BFB-4075-B4DE-429D74BDA7C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>LANG</key>
					<string>--lang=de</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8DABE6A6-9E4F-427B-8DB6-C1AA54BE16A8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Lowercase</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>17075203-C3A2-4EFE-89B4-75AC60FEB68D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>78FC612D-9025-4276-9C40-E2C6A9E2EA1B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C9554704-41EA-4FCF-AD2C-B0D64C2D655E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Uppercase</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>212F522C-B1E9-44AE-9169-75477701F1A0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>BB08D528-65F7-4390-B425-68AF26A9C776</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>copied to the clipboard</string>
				<key>title</key>
				<string>∑ = {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5C9F2728-AD97-470C-9DFE-58ADE8D2D388</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>sum-of-all-numbers.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CB80323E-4F47-48B2-9747-9E4135EC73CB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Sum of all numbers in Selection</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>EBAE6D21-C0E3-4E4B-9B5D-2EBA1328914E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E2F99E8D-87AA-4ABB-985E-5771B7FCD094</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>---

**Text Actions**
- Titlecase
- Lowercase
- Uppercase
- Poor Text (removes formatting)
- Transform Spaces to Tabs
- Append to Clipboard (similar to Alfred's built-in function, but with manual hotkey and with universal action)
- Calculate the sum of all numbers in the text. Negative numbers are supported, as are both "," or "." as decimal separators. (Thousand separators are not supported though, as they would create ambiguous cases.)
- Run Brett Terpstra's [SearchLink](https://brettterpstra.com/projects/searchlink/), which fetches the URL and creates a markdown link of the selected text.

**URL Actions**
- URL Encode
- URL Decode
- Create compact markdown link
- Create compact markdown link of all URLs in selecting (actually a Text Action...)
- SearchTitle: Fetch the title of the URL and create a Markdown-URL (basically the opposite of SearchLink)

**Other**
- Simple password generator (default length configurable via environment variable)
- quickly access SearchLink documentation &amp; configuration
- past the previous clipboard content (suggested hotkey: `cmd + shift + V`)

---
Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>07C0AFC4-5404-468C-AFC5-5A874E7A18DD</key>
		<dict>
			<key>xpos</key>
			<integer>635</integer>
			<key>ypos</key>
			<integer>545</integer>
		</dict>
		<key>14BC0F4F-86A6-46AB-ADD7-9759E69297F0</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>575</integer>
		</dict>
		<key>17075203-C3A2-4EFE-89B4-75AC60FEB68D</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>930</integer>
		</dict>
		<key>212F522C-B1E9-44AE-9169-75477701F1A0</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>1055</integer>
		</dict>
		<key>22CE272A-A695-4C98-8ADF-E1B98667D3B6</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Markdown Link</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>25A411B2-E80F-403A-B5FD-3687171168EC</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>only URL</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>25CF5DBB-0BFB-4075-B4DE-429D74BDA7C1</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>800</integer>
		</dict>
		<key>367EF5DF-53C7-4731-A1DC-185C54069491</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>175</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>3773AE10-ACE2-4B7C-A99F-DB74EE7BC529</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>705</integer>
		</dict>
		<key>3AE6DB0D-BD07-40F6-A1EF-680B99D57C84</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>425</integer>
		</dict>
		<key>4584D693-1AB3-4A78-A985-BD5256898907</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>paste previous item</string>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>4681D85D-478B-484A-95A4-D7540690A8CB</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>restore clipboard history order</string>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>5C2AB745-C095-455D-977C-48CA2B8B406C</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>675</integer>
		</dict>
		<key>5C9F2728-AD97-470C-9DFE-58ADE8D2D388</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>715</integer>
			<key>ypos</key>
			<integer>1255</integer>
		</dict>
		<key>6AD52E8C-2CD9-477B-9C6E-393123615B72</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>545</integer>
		</dict>
		<key>78208B2A-84BC-4C70-BD07-FC86C3F6DF3D</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>575</integer>
		</dict>
		<key>78FC612D-9025-4276-9C40-E2C6A9E2EA1B</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>960</integer>
		</dict>
		<key>8A722688-3EC5-4916-8756-69A85D1F0C06</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>8DABE6A6-9E4F-427B-8DB6-C1AA54BE16A8</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>830</integer>
		</dict>
		<key>AB99E030-DB45-4C5F-A64F-4234C0998270</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>B423A0F0-E461-43B7-BA67-38089CF39848</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>paste</string>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>BB08D528-65F7-4390-B425-68AF26A9C776</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>1085</integer>
		</dict>
		<key>BCAE773E-2CD3-4CBF-B877-3F90B0534A11</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>195</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>C5DF79E9-E309-4B48-A029-30B3AB0FEF13</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>175</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>C9554704-41EA-4FCF-AD2C-B0D64C2D655E</key>
		<dict>
			<key>note</key>
			<string>paste</string>
			<key>xpos</key>
			<integer>305</integer>
			<key>ypos</key>
			<integer>990</integer>
		</dict>
		<key>CB80323E-4F47-48B2-9747-9E4135EC73CB</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>1305</integer>
		</dict>
		<key>D08CA8F9-2C11-41A6-BDFA-428DB06F4222</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>E061C2C7-8263-4964-9AA9-D56F54C5CCD4</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>E2F99E8D-87AA-4ABB-985E-5771B7FCD094</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>715</integer>
			<key>ypos</key>
			<integer>1370</integer>
		</dict>
		<key>E97CFCEF-F6E3-4176-9B8A-11B67D5EAB7D</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>545</integer>
		</dict>
		<key>EBAE6D21-C0E3-4E4B-9B5D-2EBA1328914E</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>1305</integer>
		</dict>
		<key>EC61A880-CA73-4A94-AC7E-F19B8D604465</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>paste</string>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>675</integer>
		</dict>
		<key>EF402CBD-8784-45BE-9715-E3F97EDABA3D</key>
		<dict>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>545</integer>
		</dict>
		<key>F50A3340-1794-4FC0-96A2-E9296E281E07</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>675</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>default_pw_length</key>
		<string>32</string>
	</dict>
	<key>version</key>
	<string>0.9</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
