<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Development</string>
	<key>connections</key>
	<dict>
		<key>002C8DB4-DE1D-44E3-8B3B-7E9800110985</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4CA2F90B-A1A0-477A-9DEC-7A100D05A12B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1459BF52-3AED-417C-B44D-31A71695816E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6962153A-5B66-4B89-A427-D36AED83CB36</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>150AD279-99E1-4CB0-9F90-F4395A3A116A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B16CE1F-74C7-4448-890B-8FA9AC3389E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>28F9C035-406D-4E1A-BA9C-AF1E1E5556BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>002C8DB4-DE1D-44E3-8B3B-7E9800110985</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3B16CE1F-74C7-4448-890B-8FA9AC3389E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D174C422-A9C6-46B3-802F-403DD216D6B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>ADA6A816-66A2-4890-BCCA-337DC4C420F5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FA89C66A-A9E5-4D5A-BD31-C17F3285EE74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0350802D-1F38-47D7-8F77-44807E67ECAF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FA89C66A-A9E5-4D5A-BD31-C17F3285EE74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FA89C66A-A9E5-4D5A-BD31-C17F3285EE74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1E91B812-5EDC-49B4-A732-27ADEFAE215D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>405F9220-F864-4C8A-9A00-29E258A78E5A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28F9C035-406D-4E1A-BA9C-AF1E1E5556BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4A21E49A-8376-4E08-8920-0890920C6B8F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1459BF52-3AED-417C-B44D-31A71695816E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4CA2F90B-A1A0-477A-9DEC-7A100D05A12B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C02AA01-C80E-4781-84EF-8547306C00C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C2852F05-D89A-4B01-A3AD-88076C1A401D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68D3F419-AB07-4EC9-8DBB-8232716B457B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2700161D-CDE3-43DA-A39B-F25D6134C16F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6962153A-5B66-4B89-A427-D36AED83CB36</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86757F63-EB99-402F-B524-F4E5F584A9A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>728D99C6-9125-4C59-8310-24D5CACED677</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>606E4A4B-AA28-4B09-BCBB-6B8DC50A8740</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76E5A56C-0258-48FF-A883-94D79A066C82</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DCA89D5A-1D6F-4495-BD59-CA92D46FE0B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1D85811-801A-4017-AEB6-6EC5A99F109C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DFA20026-87BD-47FC-988A-0956B5B30EBF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D582977E-DA6A-46AD-93B6-3FF01EBA96BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76E5A56C-0258-48FF-A883-94D79A066C82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6530A0C-1F99-4510-8832-C03B4D0FCD03</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>002C8DB4-DE1D-44E3-8B3B-7E9800110985</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DCA89D5A-1D6F-4495-BD59-CA92D46FE0B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1D85811-801A-4017-AEB6-6EC5A99F109C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A4717934-78B8-4008-9E1E-95B08232C5F9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>50F4BA75-EC14-431B-BA50-28DEABC12BBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Documentations &amp; Cheatsheets</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>D174C422-A9C6-46B3-802F-403DD216D6B7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>pdf$</string>
						<key>outputlabel</key>
						<string>PDF</string>
						<key>uid</key>
						<string>1E91B812-5EDC-49B4-A732-27ADEFAE215D</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>txt$</string>
						<key>outputlabel</key>
						<string>plain text</string>
						<key>uid</key>
						<string>ADA6A816-66A2-4890-BCCA-337DC4C420F5</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>html$</string>
						<key>outputlabel</key>
						<string>HTML</string>
						<key>uid</key>
						<string>0350802D-1F38-47D7-8F77-44807E67ECAF</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>other</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>3B16CE1F-74C7-4448-890B-8FA9AC3389E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>cc</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~/Library/Mobile Documents/com~apple~CloudDocs/Dokumente/Code/Cheatsheets</string>
				</array>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Cheatsheet: '{query}'</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>150AD279-99E1-4CB0-9F90-F4395A3A116A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>qlmanage -p "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FA89C66A-A9E5-4D5A-BD31-C17F3285EE74</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># idea from https://brettterpstra.com/2014/08/05/shell-tricks-man-pages/
man -t $split1 | open -f -a Preview</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6962153A-5B66-4B89-A427-D36AED83CB36</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ch</string>
				<key>subtext</key>
				<string>second argument is searched</string>
				<key>text</key>
				<string>Open Man Page for: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4A21E49A-8376-4E08-8920-0890920C6B8F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>set searchterm to (system attribute "split2")
delay 0.2

-- Moom enlarge
tell application "System Events" to keystroke space using {control down}
delay 0.2


if (searchterm is not "") then
	tell application "System Events"
		tell process "Preview"
			set frontmost to true
			click menu item "Find…" of menu of menu item "Find" of menu "Edit" of menu bar 1
		end tell
	end tell
	delay 0.1

	tell application "System Events" to keystroke searchterm
	delay 0.1
	tell application "System Events" to keystroke return
end if</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>86757F63-EB99-402F-B524-F4E5F584A9A2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string> </string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>1459BF52-3AED-417C-B44D-31A71695816E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ch</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Explain Shell Command: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>68D3F419-AB07-4EC9-8DBB-8232716B457B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://explainshell.com/explain?cmd={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2700161D-CDE3-43DA-A39B-F25D6134C16F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ch</string>
				<key>subtext</key>
				<string>Search Code</string>
				<key>text</key>
				<string>grep.app</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>728D99C6-9125-4C59-8310-24D5CACED677</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://grep.app/search?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>606E4A4B-AA28-4B09-BCBB-6B8DC50A8740</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2C02AA01-C80E-4781-84EF-8547306C00C6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>appid</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Get the App ID of '{query}'</string>
				<key>types</key>
				<array>
					<string>com.apple.application-bundle</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>405F9220-F864-4C8A-9A00-29E258A78E5A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\/.*\/(.*)\.app</string>
				<key>regexcaseinsensitive</key>
				<true/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>$1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>28F9C035-406D-4E1A-BA9C-AF1E1E5556BA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n `osascript -e 'id of app "{query}"' `</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4CA2F90B-A1A0-477A-9DEC-7A100D05A12B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>appname</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>002C8DB4-DE1D-44E3-8B3B-7E9800110985</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>App ID: '{query}'</string>
				<key>title</key>
				<string>✅ Copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C2852F05-D89A-4B01-A3AD-88076C1A401D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"imagefile":"602f436a4ec62ec04a1247b4ad3c52de8e9aef7b.png","title":"Finder.app","arg":"Finder.app"},{"imagefile":"0b0b8dd2a9006c3067c24203582a7a6d2c0cad2c.png","title":"Alfred Preferences.app","arg":"Alfred Preferences.app"}]</string>
				<key>keyword</key>
				<string>appid</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Get the App ID of '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>D6530A0C-1F99-4510-8832-C03B4D0FCD03</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Basso</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>DFA20026-87BD-47FC-988A-0956B5B30EBF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>or not a first-party app</string>
				<key>title</key>
				<string>🛑 No AppleScript Dictionary</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C1D85811-801A-4017-AEB6-6EC5A99F109C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>echo -n `find "{query}" -name '*.sdef'`</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>76E5A56C-0258-48FF-A883-94D79A066C82</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>as</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Show AppleScript Dictionary of an App</string>
				<key>types</key>
				<array>
					<string>com.apple.application-bundle</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>D582977E-DA6A-46AD-93B6-3FF01EBA96BE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>no sdef</string>
						<key>uid</key>
						<string>A4717934-78B8-4008-9E1E-95B08232C5F9</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>sdef there</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>DCA89D5A-1D6F-4495-BD59-CA92D46FE0B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>50F4BA75-EC14-431B-BA50-28DEABC12BBD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>002C8DB4-DE1D-44E3-8B3B-7E9800110985</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>770</integer>
		</dict>
		<key>1459BF52-3AED-417C-B44D-31A71695816E</key>
		<dict>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>150AD279-99E1-4CB0-9F90-F4395A3A116A</key>
		<dict>
			<key>note</key>
			<string>custom cheatsheets</string>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>2700161D-CDE3-43DA-A39B-F25D6134C16F</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>28F9C035-406D-4E1A-BA9C-AF1E1E5556BA</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>only app name</string>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>715</integer>
		</dict>
		<key>2C02AA01-C80E-4781-84EF-8547306C00C6</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>675</integer>
		</dict>
		<key>3B16CE1F-74C7-4448-890B-8FA9AC3389E4</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>405F9220-F864-4C8A-9A00-29E258A78E5A</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>685</integer>
		</dict>
		<key>4A21E49A-8376-4E08-8920-0890920C6B8F</key>
		<dict>
			<key>note</key>
			<string>Man Page Search</string>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>4CA2F90B-A1A0-477A-9DEC-7A100D05A12B</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>740</integer>
		</dict>
		<key>50F4BA75-EC14-431B-BA50-28DEABC12BBD</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>485</integer>
			<key>ypos</key>
			<integer>1040</integer>
		</dict>
		<key>606E4A4B-AA28-4B09-BCBB-6B8DC50A8740</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>555</integer>
		</dict>
		<key>68D3F419-AB07-4EC9-8DBB-8232716B457B</key>
		<dict>
			<key>note</key>
			<string>explain shell command</string>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>6962153A-5B66-4B89-A427-D36AED83CB36</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>728D99C6-9125-4C59-8310-24D5CACED677</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>555</integer>
		</dict>
		<key>76E5A56C-0258-48FF-A883-94D79A066C82</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>find .sdef in Applications Folder</string>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>955</integer>
		</dict>
		<key>86757F63-EB99-402F-B524-F4E5F584A9A2</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>C1D85811-801A-4017-AEB6-6EC5A99F109C</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>485</integer>
			<key>ypos</key>
			<integer>925</integer>
		</dict>
		<key>C2852F05-D89A-4B01-A3AD-88076C1A401D</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>790</integer>
		</dict>
		<key>D174C422-A9C6-46B3-802F-403DD216D6B7</key>
		<dict>
			<key>xpos</key>
			<integer>335</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>D582977E-DA6A-46AD-93B6-3FF01EBA96BE</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>955</integer>
		</dict>
		<key>D6530A0C-1F99-4510-8832-C03B4D0FCD03</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>fix for apps not found via File Filter</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>800</integer>
		</dict>
		<key>DCA89D5A-1D6F-4495-BD59-CA92D46FE0B7</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>975</integer>
		</dict>
		<key>DFA20026-87BD-47FC-988A-0956B5B30EBF</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>655</integer>
			<key>ypos</key>
			<integer>925</integer>
		</dict>
		<key>FA89C66A-A9E5-4D5A-BD31-C17F3285EE74</key>
		<dict>
			<key>note</key>
			<string>Quicklook</string>
			<key>xpos</key>
			<integer>335</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
