<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.karabiner-espanso</string>
	<key>category</key>
	<string>App-Enhance</string>
	<key>connections</key>
	<dict>
		<key>387E93E5-B099-4784-8538-0CE2E9086D86</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF8FBA0E-7BB8-46F0-9240-13ACB11C3D74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5BC37881-96AE-4CD8-9E96-66DD1D350534</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED992F1D-9648-4955-A762-E25E23243BE9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>713E0303-8E4E-445D-AEE9-3FFA9B5C87CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>146B762A-3BFD-4073-8111-EB3BDFFF45A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>86011B84-C2B7-487E-B867-CBB4E5B58673</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC783FA2-6152-4E62-A1DB-94389B082D8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF8FBA0E-7BB8-46F0-9240-13ACB11C3D74</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2381FD05-8DB5-4B75-9D6A-36329E668C7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D30F0EEE-401B-4EEA-A5D0-D6B0708D99F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D3974054-9922-4818-AE19-FABCBBA70011</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9B91088-19D4-4EF1-A176-80FC6C8D8444</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D07D1B7-BB81-41A2-94C8-091AEF0A42FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED992F1D-9648-4955-A762-E25E23243BE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68ED0A8F-71D2-429A-873D-1EFBAD063883</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Karabiner &amp; Espanso</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>🔁 {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>68ED0A8F-71D2-429A-873D-1EFBAD063883</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ke</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>🔁 Toggle Karabiner Elements</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5BC37881-96AE-4CD8-9E96-66DD1D350534</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>toggle-karabiner.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ED992F1D-9648-4955-A762-E25E23243BE9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>🔁 {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2381FD05-8DB5-4B75-9D6A-36329E668C7F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>toggle-espanso.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CF8FBA0E-7BB8-46F0-9240-13ACB11C3D74</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ep</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>🔁 Toggle Espanso</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>387E93E5-B099-4784-8538-0CE2E9086D86</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ke</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>🔎 Karabiner Docs: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>86011B84-C2B7-487E-B867-CBB4E5B58673</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://hub.espanso.org/search?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6D07D1B7-BB81-41A2-94C8-091AEF0A42FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>search-karabiner-docs_[Browser].applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CC783FA2-6152-4E62-A1DB-94389B082D8D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ep</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>⚙️ Espanso Packages: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E9B91088-19D4-4EF1-A176-80FC6C8D8444</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ep</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>🔎 Espanso Docs: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>713E0303-8E4E-445D-AEE9-3FFA9B5C87CF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.google.de/search?q=site%3Aespanso.org%2Fdocs+{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>146B762A-3BFD-4073-8111-EB3BDFFF45A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://ke-complex-modifications.pqrs.org/?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D3974054-9922-4818-AE19-FABCBBA70011</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ke</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>⚙️ Karabiner Mods: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D30F0EEE-401B-4EEA-A5D0-D6B0708D99F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>146B762A-3BFD-4073-8111-EB3BDFFF45A1</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>2381FD05-8DB5-4B75-9D6A-36329E668C7F</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>805</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>387E93E5-B099-4784-8538-0CE2E9086D86</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>toggle</string>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>5BC37881-96AE-4CD8-9E96-66DD1D350534</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>toggle</string>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>68ED0A8F-71D2-429A-873D-1EFBAD063883</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>6D07D1B7-BB81-41A2-94C8-091AEF0A42FD</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>713E0303-8E4E-445D-AEE9-3FFA9B5C87CF</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>search docs</string>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>86011B84-C2B7-487E-B867-CBB4E5B58673</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>search docs</string>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>CC783FA2-6152-4E62-A1DB-94389B082D8D</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>175</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>CF8FBA0E-7BB8-46F0-9240-13ACB11C3D74</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>D30F0EEE-401B-4EEA-A5D0-D6B0708D99F1</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>search mods</string>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>D3974054-9922-4818-AE19-FABCBBA70011</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>175</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>E9B91088-19D4-4EF1-A176-80FC6C8D8444</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>search packages</string>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>ED992F1D-9648-4955-A762-E25E23243BE9</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>175</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
