<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.karabiner-espanso</string>
	<key>category</key>
	<string>App-Enhance</string>
	<key>connections</key>
	<dict>
		<key>0E76B185-230E-4B1E-9EA6-5D7073AD8E0D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>17F2357F-62B8-4268-9F9C-4CB273D1BA1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>16D38DFC-CFE4-4CC7-8A25-EA604410CD5A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0068510-5EA9-467B-8CAB-E5A736B52AE8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>387E93E5-B099-4784-8538-0CE2E9086D86</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF8FBA0E-7BB8-46F0-9240-13ACB11C3D74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4F748E27-E0FA-42A5-9B83-B58EF498DC15</key>
		<array/>
		<key>5BC37881-96AE-4CD8-9E96-66DD1D350534</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED992F1D-9648-4955-A762-E25E23243BE9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5F1B727E-72BE-4BEE-87DC-7E979C6A307C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7EBF04A-81EE-4A28-AFB6-624E4F0A8EF3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>713E0303-8E4E-445D-AEE9-3FFA9B5C87CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>146B762A-3BFD-4073-8111-EB3BDFFF45A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>86011B84-C2B7-487E-B867-CBB4E5B58673</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC783FA2-6152-4E62-A1DB-94389B082D8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A5F2281D-49DC-4AFC-AECD-B972E7CF8A4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB5EF1DE-1F91-43D6-BCE1-E29E2026FC7D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF8FBA0E-7BB8-46F0-9240-13ACB11C3D74</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2381FD05-8DB5-4B75-9D6A-36329E668C7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D30F0EEE-401B-4EEA-A5D0-D6B0708D99F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D3974054-9922-4818-AE19-FABCBBA70011</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8066503-E298-4023-9E9F-3FBA20E03748</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F748E27-E0FA-42A5-9B83-B58EF498DC15</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9B91088-19D4-4EF1-A176-80FC6C8D8444</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D07D1B7-BB81-41A2-94C8-091AEF0A42FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED992F1D-9648-4955-A762-E25E23243BE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2381FD05-8DB5-4B75-9D6A-36329E668C7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F0068510-5EA9-467B-8CAB-E5A736B52AE8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2381FD05-8DB5-4B75-9D6A-36329E668C7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FB5EF1DE-1F91-43D6-BCE1-E29E2026FC7D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2381FD05-8DB5-4B75-9D6A-36329E668C7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FBFB7B73-93E1-441F-8A4E-357C10069297</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>39BC3043-2844-45A6-B14F-718A836E4EAE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Karabiner &amp; Espanso &amp; Hammerspoon</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ke</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>🔎 Karabiner Docs: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>86011B84-C2B7-487E-B867-CBB4E5B58673</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ke</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>🔁 Toggle Karabiner Elements</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5BC37881-96AE-4CD8-9E96-66DD1D350534</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>search-karabiner-docs_[Browser].applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CC783FA2-6152-4E62-A1DB-94389B082D8D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>toggle-karabiner.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ED992F1D-9648-4955-A762-E25E23243BE9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>killall "Karabiner-EventViewer"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>17F2357F-62B8-4268-9F9C-4CB273D1BA1E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>12</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>Q</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>org.pqrs.Karabiner-EventViewer</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0E76B185-230E-4B1E-9EA6-5D7073AD8E0D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://ke-complex-modifications.pqrs.org/?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D3974054-9922-4818-AE19-FABCBBA70011</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ke</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>❗️Restart Karabiner</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A5F2281D-49DC-4AFC-AECD-B972E7CF8A4E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>restart-karabiner.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FB5EF1DE-1F91-43D6-BCE1-E29E2026FC7D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ke</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>⚙️ Karabiner Mods: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D30F0EEE-401B-4EEA-A5D0-D6B0708D99F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2381FD05-8DB5-4B75-9D6A-36329E668C7F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ep</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>⚙️ Espanso Packages: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E9B91088-19D4-4EF1-A176-80FC6C8D8444</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://hub.espanso.org/search?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6D07D1B7-BB81-41A2-94C8-091AEF0A42FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ep</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>🔁 Toggle Espanso</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>387E93E5-B099-4784-8538-0CE2E9086D86</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>toggle-espanso.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CF8FBA0E-7BB8-46F0-9240-13ACB11C3D74</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ep</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>🔎 Espanso Docs: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>713E0303-8E4E-445D-AEE9-3FFA9B5C87CF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.google.de/search?q=site%3Aespanso.org%2Fdocs+{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>146B762A-3BFD-4073-8111-EB3BDFFF45A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>restart-espanso.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F0068510-5EA9-467B-8CAB-E5A736B52AE8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ep</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>❗️Restart Espanso</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>16D38DFC-CFE4-4CC7-8A25-EA604410CD5A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>hs</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>🔎 Hammerspoon Docs: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5F1B727E-72BE-4BEE-87DC-7E979C6A307C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>search-hammerspoon-docs_[Browser].applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E7EBF04A-81EE-4A28-AFB6-624E4F0A8EF3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hs</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>❗️Restart Hammerspoon</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E8066503-E298-4023-9E9F-3FBA20E03748</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>restart-hammerspoon.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4F748E27-E0FA-42A5-9B83-B58EF498DC15</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>search-hammerspoon-plugins_[Browser].applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>39BC3043-2844-45A6-B14F-718A836E4EAE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>hs</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>⚙️ Hammerspoon Spoons: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FBFB7B73-93E1-441F-8A4E-357C10069297</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>0E76B185-230E-4B1E-9EA6-5D7073AD8E0D</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Quit Event Viewer via Hotkey</string>
			<key>xpos</key>
			<integer>675</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>146B762A-3BFD-4073-8111-EB3BDFFF45A1</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>16D38DFC-CFE4-4CC7-8A25-EA604410CD5A</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>restart</string>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>17F2357F-62B8-4268-9F9C-4CB273D1BA1E</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>2381FD05-8DB5-4B75-9D6A-36329E668C7F</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>387E93E5-B099-4784-8538-0CE2E9086D86</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>toggle</string>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>39BC3043-2844-45A6-B14F-718A836E4EAE</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>705</integer>
		</dict>
		<key>4F748E27-E0FA-42A5-9B83-B58EF498DC15</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>5BC37881-96AE-4CD8-9E96-66DD1D350534</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>toggle</string>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>5F1B727E-72BE-4BEE-87DC-7E979C6A307C</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>search docs</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>6D07D1B7-BB81-41A2-94C8-091AEF0A42FD</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>713E0303-8E4E-445D-AEE9-3FFA9B5C87CF</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>search docs</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>86011B84-C2B7-487E-B867-CBB4E5B58673</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>search docs</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>A5F2281D-49DC-4AFC-AECD-B972E7CF8A4E</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>reload</string>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>CC783FA2-6152-4E62-A1DB-94389B082D8D</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>CF8FBA0E-7BB8-46F0-9240-13ACB11C3D74</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>D30F0EEE-401B-4EEA-A5D0-D6B0708D99F1</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>search mods</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>D3974054-9922-4818-AE19-FABCBBA70011</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>E7EBF04A-81EE-4A28-AFB6-624E4F0A8EF3</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>175</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>E8066503-E298-4023-9E9F-3FBA20E03748</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>restart</string>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>E9B91088-19D4-4EF1-A176-80FC6C8D8444</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>search packages</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>ED992F1D-9648-4955-A762-E25E23243BE9</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>F0068510-5EA9-467B-8CAB-E5A736B52AE8</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>FB5EF1DE-1F91-43D6-BCE1-E29E2026FC7D</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>FBFB7B73-93E1-441F-8A4E-357C10069297</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>search spoons</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>705</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
