<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.mosue-remapping</string>
	<key>category</key>
	<string>Tweaks</string>
	<key>connections</key>
	<dict>
		<key>38A19081-00A4-48B7-A648-4DFF5E9726A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E966B629-BB66-42E4-AE18-46000673B520</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3B9CC1E6-13AA-4265-879E-8F4C366D3AF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>691D9072-2B5B-4AC3-9794-324C7242858F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>requires Mouse 4/5 set to F13/14 via Karabiner Elements</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Mousekey Remapping. Sublime Mousekeys set in Sublime configs</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.sublimetext.4</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6E8E47D8-2337-4759-8F7E-8F4799E7DF2F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.sublimetext.4</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3D29927F-4E24-4FE7-9C10-8A33C6F9268D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>w</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>E966B629-BB66-42E4-AE18-46000673B520</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>107</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F14</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.brave.Browser</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>38A19081-00A4-48B7-A648-4DFF5E9726A9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>105</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F13</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.brave.Browser</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3B9CC1E6-13AA-4265-879E-8F4C366D3AF2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>close-all-tabs_[Browser].applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>691D9072-2B5B-4AC3-9794-324C7242858F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>38A19081-00A4-48B7-A648-4DFF5E9726A9</key>
		<dict>
			<key>note</key>
			<string>Mouse 4</string>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>3B9CC1E6-13AA-4265-879E-8F4C366D3AF2</key>
		<dict>
			<key>note</key>
			<string>Mouse 3</string>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>475</integer>
		</dict>
		<key>3D29927F-4E24-4FE7-9C10-8A33C6F9268D</key>
		<dict>
			<key>note</key>
			<string>Mouse 5</string>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>691D9072-2B5B-4AC3-9794-324C7242858F</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>475</integer>
		</dict>
		<key>6E8E47D8-2337-4759-8F7E-8F4799E7DF2F</key>
		<dict>
			<key>note</key>
			<string>Mouse 4</string>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>E966B629-BB66-42E4-AE18-46000673B520</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
