<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.mosue-remapping</string>
	<key>category</key>
	<string>Tweaks</string>
	<key>connections</key>
	<dict>
		<key>0FCAB866-B4C8-464B-863F-A299A91B25D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2CE9281F-6438-45A9-8539-37892BA383DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1E26E0EC-403C-4C10-80A4-BAE73726E9C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C3D78DC-489D-4E04-B780-4B301F7BF529</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3B9CC1E6-13AA-4265-879E-8F4C366D3AF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>165F125E-400E-41C8-B4A2-92551CBF6F58</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D57E096-989E-472D-97A9-4C0D0058DCB3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA121D42-D933-4021-AAED-1EB9705B224D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>659A665B-9A38-4DD8-8576-D00876A011B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4E37798A-A4CB-4CC4-96E1-5105A6752402</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E8E47D8-2337-4759-8F7E-8F4799E7DF2F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81E92DC3-5843-46A3-947D-570F739B5D75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F51C241-12E9-4B6F-9F15-D98D5182490D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>286991CD-89D3-44B5-A3BA-28687E688970</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>852ED9ED-B3B3-40E6-8E57-3ED802DEA11C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7FC42DC1-ECBF-410B-9AB3-C24256DB501F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9CE3EF69-FC40-47BF-BA48-2AA34565C5CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74A9911A-4FE6-473D-9417-ED21FA082A5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F7321C0-2B4E-45C7-BAC6-FA78E1345869</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4FBB3B0-29EA-40FE-AEA3-514A657232AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A1A0723A-6480-4AB7-AD76-15C5622B3A03</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45BF28B8-2A74-4CFE-A6A6-818F5D4C959B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD2B80E8-95B4-44F0-AA98-22F2527E6329</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D0D0C8D-5457-41A7-AC05-2B9B77DFD853</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>requires Mouse 4/5 set to F13/14 via Karabiner Elements. Sublime Mousekeys set in Sublime configs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Mousekey Remapping</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>106</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F16</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.finder</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5D57E096-989E-472D-97A9-4C0D0058DCB3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>⇥</string>
				<key>keycode</key>
				<integer>48</integer>
				<key>keymod</key>
				<integer>524288</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>81E92DC3-5843-46A3-947D-570F739B5D75</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>close-one-finder-window.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CA121D42-D933-4021-AAED-1EB9705B224D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>105</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F13</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.finder</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6E8E47D8-2337-4759-8F7E-8F4799E7DF2F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>105</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F13</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.agiletortoise.Drafts-OSX</string>
					<string>com.brave.Browser</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9F7321C0-2B4E-45C7-BAC6-FA78E1345869</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>⇥</string>
				<key>keycode</key>
				<integer>48</integer>
				<key>keymod</key>
				<integer>262144</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>B4FBB3B0-29EA-40FE-AEA3-514A657232AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>close-one-tab_[Browser].applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>165F125E-400E-41C8-B4A2-92551CBF6F58</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>106</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F16</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.brave.Browser</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3B9CC1E6-13AA-4265-879E-8F4C366D3AF2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>106</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F16</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.agiletortoise.Drafts-OSX</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1E26E0EC-403C-4C10-80A4-BAE73726E9C7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "System Events"
	tell process "Drafts"
		set frontmost to true
		click menu item "Move to Archive" of menu "File" of menu bar 1
		click menu item "New" of menu "File" of menu bar 1
	end tell
end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>1C3D78DC-489D-4E04-B780-4B301F7BF529</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>105</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F13</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.mimestream.Mimestream</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CD2B80E8-95B4-44F0-AA98-22F2527E6329</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "System Events"
		tell process "Mimestream"
			set frontmost to true
			click menu item "Move to Trash" of menu "Message" of menu bar 1
		end tell
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>7D0D0C8D-5457-41A7-AC05-2B9B77DFD853</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "System Events"
		tell process "Mimestream"
			set frontmost to true
			click menu item "Archive" of menu "Message" of menu bar 1
		end tell
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>7FC42DC1-ECBF-410B-9AB3-C24256DB501F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>106</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F16</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.mimestream.Mimestream</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>852ED9ED-B3B3-40E6-8E57-3ED802DEA11C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>105</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F13</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>md.obsidian</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0FCAB866-B4C8-464B-863F-A299A91B25D1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>w</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>74A9911A-4FE6-473D-9417-ED21FA082A5F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>r</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>2CE9281F-6438-45A9-8539-37892BA383DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>106</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F16</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>md.obsidian</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9CE3EF69-FC40-47BF-BA48-2AA34565C5CB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>106</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F16</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.iconfactory.Twitterrific5</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7F51C241-12E9-4B6F-9F15-D98D5182490D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>twitterrific-scroll-up</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>de.chris-grieser.twitter-tweaks</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>286991CD-89D3-44B5-A3BA-28687E688970</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>106</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F16</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>net.highlightsapp.universal</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>659A665B-9A38-4DD8-8576-D00876A011B9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "System Events"
		tell process "Highlights" to click menu item "Highlight" of menu "Tools" of menu bar 1
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>4E37798A-A4CB-4CC4-96E1-5105A6752402</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>105</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F13</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>net.highlightsapp.universal</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A1A0723A-6480-4AB7-AD76-15C5622B3A03</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "System Events"
		tell process "Highlights" to click menu item "Note" of menu "Tools" of menu bar 1
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>45BF28B8-2A74-4CFE-A6A6-818F5D4C959B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>0FCAB866-B4C8-464B-863F-A299A91B25D1</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>555</integer>
		</dict>
		<key>165F125E-400E-41C8-B4A2-92551CBF6F58</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>close one tab</string>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>1C3D78DC-489D-4E04-B780-4B301F7BF529</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Archive</string>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>1E26E0EC-403C-4C10-80A4-BAE73726E9C7</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>286991CD-89D3-44B5-A3BA-28687E688970</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>680</integer>
		</dict>
		<key>2CE9281F-6438-45A9-8539-37892BA383DF</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>555</integer>
		</dict>
		<key>3B9CC1E6-13AA-4265-879E-8F4C366D3AF2</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>45BF28B8-2A74-4CFE-A6A6-818F5D4C959B</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Note</string>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>805</integer>
		</dict>
		<key>4E37798A-A4CB-4CC4-96E1-5105A6752402</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Highlight</string>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>800</integer>
		</dict>
		<key>5D57E096-989E-472D-97A9-4C0D0058DCB3</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Mouse 4 (TOP)</string>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>659A665B-9A38-4DD8-8576-D00876A011B9</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>800</integer>
		</dict>
		<key>6E8E47D8-2337-4759-8F7E-8F4799E7DF2F</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Mouse 5 (BOTTOM)</string>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>74A9911A-4FE6-473D-9417-ED21FA082A5F</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>555</integer>
		</dict>
		<key>7D0D0C8D-5457-41A7-AC05-2B9B77DFD853</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Delete</string>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>7F51C241-12E9-4B6F-9F15-D98D5182490D</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>680</integer>
		</dict>
		<key>7FC42DC1-ECBF-410B-9AB3-C24256DB501F</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Archive</string>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>425</integer>
		</dict>
		<key>81E92DC3-5843-46A3-947D-570F739B5D75</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Cycles Windows</string>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>852ED9ED-B3B3-40E6-8E57-3ED802DEA11C</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>425</integer>
		</dict>
		<key>9CE3EF69-FC40-47BF-BA48-2AA34565C5CB</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>555</integer>
		</dict>
		<key>9F7321C0-2B4E-45C7-BAC6-FA78E1345869</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>A1A0723A-6480-4AB7-AD76-15C5622B3A03</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>805</integer>
		</dict>
		<key>B4FBB3B0-29EA-40FE-AEA3-514A657232AD</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Cycle through</string>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>CA121D42-D933-4021-AAED-1EB9705B224D</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>close one window</string>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>CD2B80E8-95B4-44F0-AA98-22F2527E6329</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
