<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.memes</string>
	<key>category</key>
	<string>Searches</string>
	<key>connections</key>
	<dict>
		<key>39DA22C5-BB99-4861-8057-B531567002B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B667429E-AB0D-420B-A48D-0FB0E288A3FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3C276583-38BE-49F8-8473-E72C18AE4DD3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2E73399-01D7-49EB-B091-F4A4DEDBC507</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4CB36CF6-4276-473A-835B-5E360267438A</key>
		<array/>
		<key>54F630D1-B707-4087-B7AE-11FA091BE0C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB8F99B8-A846-4C00-A07B-CBA436A31FD4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7A83DBC3-F99A-45DF-9701-D1318CE02B75</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80BB2BB2-77DC-4813-9809-2C0EEDE3C640</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7B8BB2D1-4CA6-4777-BEF0-072DE3EF374C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54F630D1-B707-4087-B7AE-11FA091BE0C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>984D436A-D141-41C0-A2D2-2D427990EEF8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF9ABE74-C444-4237-9E7E-3E0F88A5F4D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AFB25478-F21E-4921-BAE4-5007E354CB41</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0BB90476-EDA6-43B4-88D8-CDF14CDB1680</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2548D69-CA79-4B33-9FAF-946DD7D350C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>41224B23-17CB-46F5-BF68-CA0A7E93A849</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Open Image instead</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7A83DBC3-F99A-45DF-9701-D1318CE02B75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF9ABE74-C444-4237-9E7E-3E0F88A5F4D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C276583-38BE-49F8-8473-E72C18AE4DD3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DBA1CC38-9090-47DF-90DD-CB67EC63BF98</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4CB36CF6-4276-473A-835B-5E360267438A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7B8BB2D1-4CA6-4777-BEF0-072DE3EF374C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Memes &amp; Emojis</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>41224B23-17CB-46F5-BF68-CA0A7E93A849</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>set the clipboard to POSIX file "{query}"
return "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7A83DBC3-F99A-45DF-9701-D1318CE02B75</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>meme</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>meme-search.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Memes &amp; ASCII Art</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C2548D69-CA79-4B33-9FAF-946DD7D350C8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>😎 Meme copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>80BB2BB2-77DC-4813-9809-2C0EEDE3C640</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://tenor.com/search/{query}-gifs</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4CB36CF6-4276-473A-835B-5E360267438A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>meme</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search Tenor &amp; Giphy: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DBA1CC38-9090-47DF-90DD-CB67EC63BF98</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Library/Mobile Documents/com~apple~CloudDocs/Photos/Memes</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>54F630D1-B707-4087-B7AE-11FA091BE0C5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://giphy.com/search/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7B8BB2D1-4CA6-4777-BEF0-072DE3EF374C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>-- this line has to appear before the "on run" line of Alfred (or other functions)
use framework "AppKit" set allFrames to (current application's NSScreen's screens()'s valueForKey:"frame") as listset X to item 1 of item 2 of item 1 of allFrames (* main screen *)set Y to item 2 of item 2 of item 1 of allFramesset topLeftX to ((X / 6) * 5)set topLeftY to 0set Width2 to ((X / 6) * 1)set Height to Y-- "Width" is keyword, therefore "Width2"tell application "Finder" to set bounds of Finder window 1 to {topLeftX, topLeftY, Width2, Height}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CB8F99B8-A846-4C00-A07B-CBA436A31FD4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/System/Volumes/Data/Applications/Sublime Text.app</string>
				<key>sourcefile</key>
				<string>asciis.csv</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>B667429E-AB0D-420B-A48D-0FB0E288A3FD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ascii</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Ascii List</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>39DA22C5-BB99-4861-8057-B531567002B4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>:</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>emoji-ascii-search.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>984D436A-D141-41C0-A2D2-2D427990EEF8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{clipboard:2}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D2E73399-01D7-49EB-B091-F4A4DEDBC507</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query} </string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CF9ABE74-C444-4237-9E7E-3E0F88A5F4D4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>.2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>3C276583-38BE-49F8-8473-E72C18AE4DD3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://emojipedia.org/search/?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0BB90476-EDA6-43B4-88D8-CDF14CDB1680</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>emoji</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Emojipedia: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AFB25478-F21E-4921-BAE4-5007E354CB41</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).

see also: https://eric.blog/2019/01/12/how-to-download-a-gif-from-giphy/</string>
	<key>uidata</key>
	<dict>
		<key>0BB90476-EDA6-43B4-88D8-CDF14CDB1680</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>910</integer>
		</dict>
		<key>39DA22C5-BB99-4861-8057-B531567002B4</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>3C276583-38BE-49F8-8473-E72C18AE4DD3</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>790</integer>
		</dict>
		<key>41224B23-17CB-46F5-BF68-CA0A7E93A849</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>4CB36CF6-4276-473A-835B-5E360267438A</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>54F630D1-B707-4087-B7AE-11FA091BE0C5</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
		<key>7A83DBC3-F99A-45DF-9701-D1318CE02B75</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>copy image to clipboard</string>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>7B8BB2D1-4CA6-4777-BEF0-072DE3EF374C</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
		<key>80BB2BB2-77DC-4813-9809-2C0EEDE3C640</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>984D436A-D141-41C0-A2D2-2D427990EEF8</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>760</integer>
		</dict>
		<key>AFB25478-F21E-4921-BAE4-5007E354CB41</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>910</integer>
		</dict>
		<key>B667429E-AB0D-420B-A48D-0FB0E288A3FD</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>C2548D69-CA79-4B33-9FAF-946DD7D350C8</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>CB8F99B8-A846-4C00-A07B-CBA436A31FD4</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>resize window to the right</string>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
		<key>CF9ABE74-C444-4237-9E7E-3E0F88A5F4D4</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>760</integer>
		</dict>
		<key>D2E73399-01D7-49EB-B091-F4A4DEDBC507</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>preserve order of the clipboard</string>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>760</integer>
		</dict>
		<key>DBA1CC38-9090-47DF-90DD-CB67EC63BF98</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>meme_folder</key>
		<string>~/Library/Mobile Documents/com~apple~CloudDocs/Photos/Memes</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>meme_folder</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
