# This is the gitignore of *this* dotfile repo only
# `gitignore_global` is for *all* of git repos
# ------------------------------------------------

# Mac
.DS_Store

# Activity Data
Sublime User Folder/FileHistory*.json
Sublime User Folder/AutoFoldCode.sublime-settings
PopClip/_*

# Redundant
.config/karabiner/automatic_backups

# (potentially) sensitive data
xbar plugins/*vars.json
pw.*
.ssh/
.zsh_history
backup.log
espanso/match/private.*
Alfred.alfredpreferences/snippets

# too much file size
# ------------------
# Spotify Workflow
user.workflow.DB6F724C-BEEA-413D-83F1-BB782F5801E5
# Package Control Search Workflow
user.workflow.B3DD5817-6E6D-4B43-B94D-E4DE0B8E597B

# Git Repos (already backed up)
# -----------------------------
# Shimmering Obsidian
user.workflow.D02FCDA1-EA32-4486-B5A6-09B42C44677C
# PDF Annotation Extractor
user.workflow.765354AA-49F0-4CB1-8DB0-EA4BE2DB09F8
# Citation Picker
user.workflow.41B90DCD-A99E-4943-A19A-E91859557FB0

# safety net to prevent sensitive data being accidentally moved
*.kdb
*.kdbx
*.pfx
*.key
