<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.mermaid</string>
	<key>category</key>
	<string>Mini-Apps</string>
	<key>connections</key>
	<dict>
		<key>36DC4EF6-7F5C-4838-B0BD-9F7457066CF0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B335E69B-77D6-4A43-B3C3-0DB83969FEDF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>418515E8-371C-417D-A3E8-C9BC4C0681D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8197A64-6A33-4D47-BFD9-797209BE3F26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>67949C33-B68B-4D26-89B7-15F9AC07D30E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>459042EC-DC6C-45A9-BCE6-063FA6B9BC17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Mermaid</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>file_path=""

file_name="${file_path##*/}"
file_without_extension="${file_name%.*}"
parent_folder="${filepath%/*}"

echo "{query}" | mmd</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>mermaid-text-conversion.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>459042EC-DC6C-45A9-BCE6-063FA6B9BC17</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Convert selected Mermaid Code</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>67949C33-B68B-4D26-89B7-15F9AC07D30E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>file_path=""

file_name="${file_path##*/}"
file_without_extension="${file_name%.*}"
parent_folder="${filepath%/*}"

echo "{query}" | mmd</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>mermaid-file-conversion.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B335E69B-77D6-4A43-B3C3-0DB83969FEDF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>net.daringfireball.markdown</string>
					<string>net.ia.markdown</string>
				</array>
				<key>name</key>
				<string>Convert Mermaid to PNG</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>36DC4EF6-7F5C-4838-B0BD-9F7457066CF0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Convert Mermaid Code &amp; Paste back</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>418515E8-371C-417D-A3E8-C9BC4C0681D3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>file_path=""

file_name="${file_path##*/}"
file_without_extension="${file_name%.*}"
parent_folder="${filepath%/*}"

echo "{query}" | mmd</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>mermaid-conversion-and-paste.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A8197A64-6A33-4D47-BFD9-797209BE3F26</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>36DC4EF6-7F5C-4838-B0BD-9F7457066CF0</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>418515E8-371C-417D-A3E8-C9BC4C0681D3</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>459042EC-DC6C-45A9-BCE6-063FA6B9BC17</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>67949C33-B68B-4D26-89B7-15F9AC07D30E</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>A8197A64-6A33-4D47-BFD9-797209BE3F26</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>B335E69B-77D6-4A43-B3C3-0DB83969FEDF</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>output_location</key>
		<string>~/Library/Mobile Documents/com~apple~CloudDocs/File Hub</string>
		<key>scale_factor</key>
		<string>2</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
