<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.inoreader</string>
	<key>category</key>
	<string>Searches</string>
	<key>connections</key>
	<dict>
		<key>42661DDF-40D0-499A-A2B5-364FFAD483B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A4F606E-4DAF-4F22-BB28-4EFC7CB3A776</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4A4F606E-4DAF-4F22-BB28-4EFC7CB3A776</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C51BD3A4-9C5D-4681-A7B7-BAD5E667115E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D8C4CA8-59A8-4C70-980B-2ED813D210F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A4F606E-4DAF-4F22-BB28-4EFC7CB3A776</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A83A4EA0-67E8-4D58-AA03-8E7A497007B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B75AE197-373E-42DA-B4D1-DF535A36A1BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D7A9B937-F84C-4757-A334-0B1CE282DE03</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>34A140E7-274C-4036-A8CB-AF47386CEBC7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B75AE197-373E-42DA-B4D1-DF535A36A1BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42661DDF-40D0-499A-A2B5-364FFAD483B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BC5C2029-9BC2-4365-9DBF-69EA467564ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A83A4EA0-67E8-4D58-AA03-8E7A497007B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C51BD3A4-9C5D-4681-A7B7-BAD5E667115E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34A140E7-274C-4036-A8CB-AF47386CEBC7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Inoreader</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Search for RSS Feed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>7D8C4CA8-59A8-4C70-980B-2ED813D210F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>function run() {

	return encodeURIComponent("{query}");

}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4A4F606E-4DAF-4F22-BB28-4EFC7CB3A776</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>42661DDF-40D0-499A-A2B5-364FFAD483B1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Brave Browser" to return URL of active tab of front window</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B75AE197-373E-42DA-B4D1-DF535A36A1BF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>C51BD3A4-9C5D-4681-A7B7-BAD5E667115E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>rss</string>
				<key>subtext</key>
				<string>leave empty to search for current Brave tab</string>
				<key>text</key>
				<string>Search for RSS Feed: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BC5C2029-9BC2-4365-9DBF-69EA467564ED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.inoreader.com/search/feeds/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>34A140E7-274C-4036-A8CB-AF47386CEBC7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^$</string>
						<key>outputlabel</key>
						<string>empty</string>
						<key>uid</key>
						<string>D7A9B937-F84C-4757-A334-0B1CE282DE03</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>content</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A83A4EA0-67E8-4D58-AA03-8E7A497007B0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>34A140E7-274C-4036-A8CB-AF47386CEBC7</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>755</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>42661DDF-40D0-499A-A2B5-364FFAD483B1</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>4A4F606E-4DAF-4F22-BB28-4EFC7CB3A776</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>URL Encode</string>
			<key>xpos</key>
			<integer>535</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>7D8C4CA8-59A8-4C70-980B-2ED813D210F1</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>A83A4EA0-67E8-4D58-AA03-8E7A497007B0</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>B75AE197-373E-42DA-B4D1-DF535A36A1BF</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>returns browser URL</string>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>BC5C2029-9BC2-4365-9DBF-69EA467564ED</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>C51BD3A4-9C5D-4681-A7B7-BAD5E667115E</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
