<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.bibdesk</string>
	<key>category</key>
	<string>Academic</string>
	<key>connections</key>
	<dict>
		<key>0A47F1BC-132C-4D97-AFBC-523593DDC65D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8FCA9D2D-78BD-459B-B5D6-33F87166677D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0B7B537F-7CE7-4173-A87A-0A36F21BED67</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84F0221F-F3DF-46CD-9630-D8F246111C2D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>847852E7-9693-45D1-AE22-00E088A8B7D2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9ABF88D5-709B-42DE-A22A-32D88D69E133</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>204A5449-B11D-4CDE-8CAF-4F0E505EAF65</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46DA2A56-6DB7-4A29-AAC9-3FF9F0ACA314</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2A3C2E16-E479-4B91-9CD3-798B58D6288E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E4E090C-5F20-4A62-8450-BC34FA144DB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2FCF7575-07B4-4758-8516-E9D4EECAA4AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>44D16E56-EB87-402B-8D0E-A79465EFB772</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>38351D8A-50D6-43DF-9B73-87ED65AA012C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8FCA9D2D-78BD-459B-B5D6-33F87166677D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>44D16E56-EB87-402B-8D0E-A79465EFB772</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>99155978-C909-463D-97FB-4D5650AA4A7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>46DA2A56-6DB7-4A29-AAC9-3FF9F0ACA314</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58A96A70-EE77-4BE2-8113-835C86F99F3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>54C2095D-6CF3-4AEC-B860-0C8A6BD657B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A3C2E16-E479-4B91-9CD3-798B58D6288E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>58A96A70-EE77-4BE2-8113-835C86F99F3B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA39C446-4B29-4745-A7B0-BA46D0FBA3EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A6C252F-5B54-4237-BFE8-1D9BB0AE5B28</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54C2095D-6CF3-4AEC-B860-0C8A6BD657B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B22AF60F-9D36-47D5-9DB3-60119A2391D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>61F0C190-A8C0-4C44-9D3B-E1908436C0D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBA01885-E1CF-4207-86A1-F158913256CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>62E9D890-92E0-4DC5-8E9D-BB4DF71EFC1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B7B537F-7CE7-4173-A87A-0A36F21BED67</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7A5A235B-6843-43A6-B29B-4BFFBD98156D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8FCA9D2D-78BD-459B-B5D6-33F87166677D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7AD402CC-7A8E-4F0B-A1D6-C59F78FD7388</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D91D6407-7118-4249-B0BA-6FC04F5C0CCB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7E4E090C-5F20-4A62-8450-BC34FA144DB6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58A96A70-EE77-4BE2-8113-835C86F99F3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>CBF19890-8395-46BF-98C4-5EA6FFD846C4</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F5827E01-38F2-4EB4-BABE-CB157BCB5F22</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>830C36AA-C0A3-47E5-9C73-9734CB7C8912</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62E9D890-92E0-4DC5-8E9D-BB4DF71EFC1D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ABBDFA89-182D-4E02-8573-AFB876BCAC5A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8E300276-EDC0-4AF3-99F8-19FE89DCA0E7</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BBA01885-E1CF-4207-86A1-F158913256CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9A5151BD-E5F8-42DD-914C-33E27117FBA1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>61F0C190-A8C0-4C44-9D3B-E1908436C0D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>847852E7-9693-45D1-AE22-00E088A8B7D2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>84F0221F-F3DF-46CD-9630-D8F246111C2D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A3C2E16-E479-4B91-9CD3-798B58D6288E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>99155978-C909-463D-97FB-4D5650AA4A7F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A3C2E16-E479-4B91-9CD3-798B58D6288E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>124DAD19-F950-4BFC-BEF7-54881682A216</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7A5A235B-6843-43A6-B29B-4BFFBD98156D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9ABF88D5-709B-42DE-A22A-32D88D69E133</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>204A5449-B11D-4CDE-8CAF-4F0E505EAF65</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ABBDFA89-182D-4E02-8573-AFB876BCAC5A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AD402CC-7A8E-4F0B-A1D6-C59F78FD7388</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BBA01885-E1CF-4207-86A1-F158913256CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AD402CC-7A8E-4F0B-A1D6-C59F78FD7388</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D91D6407-7118-4249-B0BA-6FC04F5C0CCB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2FCF7575-07B4-4758-8516-E9D4EECAA4AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E7F04590-596C-4274-ADF7-48604B53CE2F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>38351D8A-50D6-43DF-9B73-87ED65AA012C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5827E01-38F2-4EB4-BABE-CB157BCB5F22</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8FCA9D2D-78BD-459B-B5D6-33F87166677D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F796B437-A92C-47E6-A3FA-2BBBD61AA999</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B22AF60F-9D36-47D5-9DB3-60119A2391D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>830C36AA-C0A3-47E5-9C73-9734CB7C8912</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>BibDesk</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run() {

input = "{query}";
properDOI = input.replace (/(doi: *|^)(?=10.*\/)/gi,"https://doi.org/");
return properDOI;

}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>54C2095D-6CF3-4AEC-B860-0C8A6BD657B1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># https://citation.crosscite.org/docs.html
# grep-pipe removes annoying month and issn field data
curl --silent -LH "Accept: application/x-bibtex" {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2A3C2E16-E479-4B91-9CD3-798B58D6288E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>add-doi-to-bibdesk</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>5A6C252F-5B54-4237-BFE8-1D9BB0AE5B28</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>@[\s|\S]*</string>
						<key>outputlabel</key>
						<string>success</string>
						<key>uid</key>
						<string>CBF19890-8395-46BF-98C4-5EA6FFD846C4</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>failure</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>7E4E090C-5F20-4A62-8450-BC34FA144DB6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "{query}" | grep -vw "month =" | grep -vw "issn =" | pbcopy
sleep 0.1</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>58A96A70-EE77-4BE2-8113-835C86F99F3B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "BibDesk" to activate
repeat until application "BibDesk" is running 
	delay 0.2
end repeat

tell application "System Events"	tell process "BibDesk"		set frontmost to true		click menu item "New Publications from Clipboard…" of menu "Publication" of menu bar 1		click menu item "Close" of menu "File" of menu bar 1		click menu item "Generate Cite Key" of menu "Publication" of menu bar 1	end tell
	keystroke returnend tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AA39C446-4B29-4745-A7B0-BA46D0FBA3EA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>^.*\/(10\.\S+\/\S+\w$)</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>https://doi.org/$1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>84F0221F-F3DF-46CD-9630-D8F246111C2D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>⏳ Fetching Bibliography...</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B22AF60F-9D36-47D5-9DB3-60119A2391D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>get-browser-url_[Browser].applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>62E9D890-92E0-4DC5-8E9D-BB4DF71EFC1D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^.*\/10\.\S+\/\S+\w$</string>
						<key>outputlabel</key>
						<string>has doi</string>
						<key>uid</key>
						<string>847852E7-9693-45D1-AE22-00E088A8B7D2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>no doi</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>0B7B537F-7CE7-4173-A87A-0A36F21BED67</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>11</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>B</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.vivaldi.Vivaldi</string>
					<string>com.brave.Browser</string>
					<string>com.readdle.PDFExpert-Mac</string>
					<string>com.apple.Preview</string>
					<string>org.chromium.Chromium</string>
					<string>com.apple.finder</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F796B437-A92C-47E6-A3FA-2BBBD61AA999</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>⚠️ DOI found, but no bibliography found</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F5827E01-38F2-4EB4-BABE-CB157BCB5F22</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>-- needs these enabled
-- chrome-extension://bmnfikjlonhkoojjfddnlbinkkapmldg/description.html#copyOptions


tell application "Brave Browser" to activatetell application "System Events"
	-- needs this as keyboard shortcut for the popover brave://extensions/shortcuts	keystroke "c" using {option down}	delay 1	-- Esc	key code 53end tell

delay 1
the clipboard</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9ABF88D5-709B-42DE-A22A-32D88D69E133</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>46DA2A56-6DB7-4A29-AAC9-3FF9F0ACA314</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\r</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>\\n</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>204A5449-B11D-4CDE-8CAF-4F0E505EAF65</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Preview" 
	save the front document
	set current_file to path of front document
end tell

return current_file</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ABBDFA89-182D-4E02-8573-AFB876BCAC5A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:focusedapp}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>com.apple.Preview</string>
						<key>outputlabel</key>
						<string>Preview</string>
						<key>uid</key>
						<string>8E300276-EDC0-4AF3-99F8-19FE89DCA0E7</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:focusedapp}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>com.apple.Finder</string>
						<key>outputlabel</key>
						<string>Finder</string>
						<key>uid</key>
						<string>9A5151BD-E5F8-42DD-914C-33E27117FBA1</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:focusedapp}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>com.readdle.PDFExpert-Mac</string>
						<key>outputlabel</key>
						<string>PDF Expert</string>
						<key>uid</key>
						<string>847852E7-9693-45D1-AE22-00E088A8B7D2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Browser</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>830C36AA-C0A3-47E5-9C73-9734CB7C8912</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>Location fo PDFs not set. To use this workflow with PDF Expert, you need to set the location of your PDFs with "aconf".</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>0A47F1BC-132C-4D97-AFBC-523593DDC65D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=/usr/local/bin:$PATH

file_path="{query}"

doi="no DOI"
hasDoiURL=`pdfgrep --count --ignore-case --page-range=1-3 --regexp='https?://[[:graph:]]*doi.org[[:graph:]]*' $file_path`
if [[ $hasDoiURL &gt; 0 ]]
then
    doi=`pdfgrep --only-matching --ignore-case --page-range=1-3 --regexp="https?://[[:graph:]]*doi.org[[:graph:]]*" $file_path | head -n 1`
fi

hasDOI=`pdfgrep --count --ignore-case --page-range=1-3 --regexp='DOI: ?[[:graph:]]*' $file_path`
if [[ $hasDOI &gt; 0 ]]
then
    doiNumber=`pdfgrep --only-match --ignore-case --page-range=1-3 --regexp="DOI: *[[:graph:]]*" $file_path | head -n 1`
    doi=`sed -E 's/doi: */https:\/\/doi.org\//gi' &lt;&lt;&lt; $doiNumber`
fi

if [[ $doi == "no DOI" ]]
then
    echo -n "no DOI"
else
    echo -n $doi
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2FCF7575-07B4-4758-8516-E9D4EECAA4AD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Finder" to set sel to selectionif ((count sel) &gt; 1) then	set firstItem to item 1 of sel	return POSIX path of (firstItem as text)else	return POSIX path of (sel as text)end if</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BBA01885-E1CF-4207-86A1-F158913256CA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Basso</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>8FCA9D2D-78BD-459B-B5D6-33F87166677D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>no DOI</string>
						<key>outputlabel</key>
						<string>DOI found</string>
						<key>uid</key>
						<string>124DAD19-F950-4BFC-BEF7-54881682A216</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>not found</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>99155978-C909-463D-97FB-4D5650AA4A7F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>
</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>44D16E56-EB87-402B-8D0E-A79465EFB772</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Events"
	tell process "PDF Expert"
		set frontmost to true
		click menu item "Show in Finder" of menu "File" of menu bar 1
	end tell
end tell
delay 0.1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>61F0C190-A8C0-4C44-9D3B-E1908436C0D6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>.pdf$</string>
						<key>outputlabel</key>
						<string>is .pdf</string>
						<key>uid</key>
						<string>E7F04590-596C-4274-ADF7-48604B53CE2F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>--</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>D91D6407-7118-4249-B0BA-6FC04F5C0CCB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>7AD402CC-7A8E-4F0B-A1D6-C59F78FD7388</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>⚠️ No DOI found</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7A5A235B-6843-43A6-B29B-4BFFBD98156D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>⚠️ File is not a PDF</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>38351D8A-50D6-43DF-9B73-87ED65AA012C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Requirements
- [pdfgrep](https://gitlab.com/pdfgrep/pdfgrep) to be able to extract bibliographies from PDF Expert or Preview.
- [BibItNow!](https://chrome.google.com/webstore/detail/bibitnow/bmnfikjlonhkoojjfddnlbinkkapmldg)


- recommended autorenaming pattern for usage with the [PDF Annotation Extractor](https://github.com/chrisgrieser/pdf-annotation-extractor-alfred): `%p11/%p[ ][ et al]2/%p[_][_et al]2_%Y%u0_%t60%s{Pages}[_][]%w{Pages}[--][/][-]2`

======================================================
Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>0A47F1BC-132C-4D97-AFBC-523593DDC65D</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>1205</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>0B7B537F-7CE7-4173-A87A-0A36F21BED67</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>204A5449-B11D-4CDE-8CAF-4F0E505EAF65</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>900</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>2A3C2E16-E479-4B91-9CD3-798B58D6288E</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>DOI-URL to BibTeX via Content negotiation</string>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>2FCF7575-07B4-4758-8516-E9D4EECAA4AD</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>850</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>38351D8A-50D6-43DF-9B73-87ED65AA012C</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>1205</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>44D16E56-EB87-402B-8D0E-A79465EFB772</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>remove \n</string>
			<key>xpos</key>
			<integer>1005</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>46DA2A56-6DB7-4A29-AAC9-3FF9F0ACA314</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>975</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>54C2095D-6CF3-4AEC-B860-0C8A6BD657B1</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>properly format into DOI-URL</string>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>58A96A70-EE77-4BE2-8113-835C86F99F3B</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>remove month &amp; issn</string>
			<key>xpos</key>
			<integer>1100</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>5A6C252F-5B54-4237-BFE8-1D9BB0AE5B28</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>for popclip</string>
			<key>xpos</key>
			<integer>15</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>61F0C190-A8C0-4C44-9D3B-E1908436C0D6</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>62E9D890-92E0-4DC5-8E9D-BB4DF71EFC1D</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>returns browser URL</string>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>7A5A235B-6843-43A6-B29B-4BFFBD98156D</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>1205</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>7AD402CC-7A8E-4F0B-A1D6-C59F78FD7388</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>665</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>7E4E090C-5F20-4A62-8450-BC34FA144DB6</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>830C36AA-C0A3-47E5-9C73-9734CB7C8912</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>84F0221F-F3DF-46CD-9630-D8F246111C2D</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>turn URL into DOI-URL</string>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>8FCA9D2D-78BD-459B-B5D6-33F87166677D</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Error Sound</string>
			<key>xpos</key>
			<integer>1395</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>99155978-C909-463D-97FB-4D5650AA4A7F</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>1075</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>9ABF88D5-709B-42DE-A22A-32D88D69E133</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>copy using "Bib it now" Chrome Extension</string>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>AA39C446-4B29-4745-A7B0-BA46D0FBA3EA</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Import in BibDesk</string>
			<key>xpos</key>
			<integer>1265</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>ABBDFA89-182D-4E02-8573-AFB876BCAC5A</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>485</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>B22AF60F-9D36-47D5-9DB3-60119A2391D8</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>BBA01885-E1CF-4207-86A1-F158913256CA</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>485</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>D91D6407-7118-4249-B0BA-6FC04F5C0CCB</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>F5827E01-38F2-4EB4-BABE-CB157BCB5F22</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>1205</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>F796B437-A92C-47E6-A3FA-2BBBD61AA999</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>15</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>backup_destination</key>
		<string>~/Library/Mobile Documents/com~apple~CloudDocs/Dotfolder/Backups/Library Backups/</string>
		<key>citation_style</key>
		<string>apa</string>
		<key>lang</key>
		<string>de</string>
		<key>library_path</key>
		<string>~/Library/Mobile Documents/com~apple~CloudDocs/Dotfolder/Configs/pandoc/main-bibliography.bib</string>
		<key>max_number_of_bkps</key>
		<string>20</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>library_path</string>
		<string>backup_destination</string>
	</array>
	<key>version</key>
	<string>0.9</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
