<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.kill-and-restart</string>
	<key>category</key>
	<string>Tweaks</string>
	<key>connections</key>
	<dict>
		<key>0C3A32D8-69C8-45C9-A53E-6A4D492BD1AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3793E96B-DE64-4F09-ABA2-042BF2D728A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>67DF2055-B645-4552-B37D-1F3A93BF37EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3793E96B-DE64-4F09-ABA2-042BF2D728A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E5BC3FC8-B63C-42D5-BDEF-004A14C8AD46</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0CA4897B-8B47-4E56-877A-29AD1D2A2B8C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>frontmost app</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Kill &amp; Restart</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>10</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>°</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0C3A32D8-69C8-45C9-A53E-6A4D492BD1AF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>restart</string>
				<key>subtext</key>
				<string>frontmost app</string>
				<key>text</key>
				<string>Restart</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>67DF2055-B645-4552-B37D-1F3A93BF37EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Events"
	set _app to the name of every process whose frontmost is true
end tell

tell application named _app to quit

repeat until application named _app is not running 
	delay 0.5
end repeat
delay 0.5

tell application named _app to activate</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3793E96B-DE64-4F09-ABA2-042BF2D728A1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>kill</string>
				<key>subtext</key>
				<string>frontmost app</string>
				<key>text</key>
				<string>🛑 Kill &amp; Restart</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E5BC3FC8-B63C-42D5-BDEF-004A14C8AD46</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Events"	set _app to the name of every process whose frontmost is trueend telldo shell script "pkill  " &amp; (item 1 of _app)

repeat until application named _app is not running 
	delay 0.5
end repeat
delay 0.5
tell application named _app to activate</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0CA4897B-8B47-4E56-877A-29AD1D2A2B8C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>0C3A32D8-69C8-45C9-A53E-6A4D492BD1AF</key>
		<dict>
			<key>xpos</key>
			<integer>105</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>0CA4897B-8B47-4E56-877A-29AD1D2A2B8C</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>kill &amp; restart</string>
			<key>xpos</key>
			<integer>295</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>3793E96B-DE64-4F09-ABA2-042BF2D728A1</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>quit &amp; restart</string>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>67DF2055-B645-4552-B37D-1F3A93BF37EC</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>E5BC3FC8-B63C-42D5-BDEF-004A14C8AD46</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
