<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.panda-app</string>
	<key>category</key>
	<string>App-Enhance</string>
	<key>connections</key>
	<dict>
		<key>39A34F49-E167-421F-AC66-18C9117EEB51</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A27ED075-BF95-4573-953D-15F833B84CE3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8BDC2201-97C7-4169-9CE7-2E59ABF027E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA9AA53B-7984-4BD7-AEB6-856E23121F91</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A27ED075-BF95-4573-953D-15F833B84CE3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BDC2201-97C7-4169-9CE7-2E59ABF027E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>0.1</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Panda Quick Note</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>~/Library/Mobile Documents/com~apple~CloudDocs/File Hub/Panda.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>DA9AA53B-7984-4BD7-AEB6-856E23121F91</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>pa</string>
				<key>subtext</key>
				<string>with title: {query}</string>
				<key>text</key>
				<string>New Note in Panda</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>39A34F49-E167-421F-AC66-18C9117EEB51</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>{var:target_folder}/{query}.md</string>
				<key>filetext</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>8BDC2201-97C7-4169-9CE7-2E59ABF027E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>A27ED075-BF95-4573-953D-15F833B84CE3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).

target folder = folder where the notes should be created.</string>
	<key>uidata</key>
	<dict>
		<key>39A34F49-E167-421F-AC66-18C9117EEB51</key>
		<dict>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>8BDC2201-97C7-4169-9CE7-2E59ABF027E5</key>
		<dict>
			<key>note</key>
			<string>write the file in the target_folder</string>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>A27ED075-BF95-4573-953D-15F833B84CE3</key>
		<dict>
			<key>note</key>
			<string>remove illegal characters for a filename</string>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>DA9AA53B-7984-4BD7-AEB6-856E23121F91</key>
		<dict>
			<key>note</key>
			<string>open it with Panda afterwards</string>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>target_folder</key>
		<string>~/Library/Mobile Documents/com~apple~CloudDocs/File Hub/</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>target_folder</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
