<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.stocks</string>
	<key>category</key>
	<string>Stocks</string>
	<key>connections</key>
	<dict>
		<key>06D91B7A-623E-4422-A903-85272F1F6636</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CEDBA1E4-2798-48B5-BD7F-956CDBDAC481</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0E0A4979-D128-471C-9B54-25B41452AFC4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F911425-515D-419E-819E-DBF9F660F00B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>48A76299-BBE7-47F5-8EBA-5FD15A3E0AE7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45912785-30EA-405D-89AB-4B282E711B2B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D3AADCC3-5488-4AEE-AEE1-6CB42879BADA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>864DCE5B-F811-4721-9ABE-FE0FBD044363</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1E79F96-B9B6-4E82-A30E-4675F1A69286</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA4BBEBC-D800-4881-B8D9-8A874F532024</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F91EA508-870F-488B-A4CB-B869CC763311</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>048B4F12-D7D9-45C8-B585-04328FDA52FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Stonks only go up!</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Stocks Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>st</string>
				<key>subtext</key>
				<string>Name / WKN / ISIN / Symbol</string>
				<key>text</key>
				<string>Identifier Conversion: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>06D91B7A-623E-4422-A903-85272F1F6636</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.portfolio-report.net/search?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CEDBA1E4-2798-48B5-BD7F-956CDBDAC481</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>st</string>
				<key>subtext</key>
				<string>ISIN</string>
				<key>text</key>
				<string>Raw Historical Prices: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>48A76299-BBE7-47F5-8EBA-5FD15A3E0AE7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.ariva.de/{query}/historische_kurse?boerse_id=8&amp;month=&amp;currency=EUR&amp;clean_split=1&amp;clean_payout=1&amp;clean_bezug=1</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>45912785-30EA-405D-89AB-4B282E711B2B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>st</string>
				<key>subtext</key>
				<string>Name / ISIN</string>
				<key>text</key>
				<string>ETF Search: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D3AADCC3-5488-4AEE-AEE1-6CB42879BADA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.justetf.com/de-en/etf-profile.html?isin={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>864DCE5B-F811-4721-9ABE-FE0FBD044363</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>st</string>
				<key>subtext</key>
				<string>ISIN</string>
				<key>text</key>
				<string>ETF-Index-Comparison: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0E0A4979-D128-471C-9B54-25B41452AFC4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.trackingdifferences.com/ETF/ISIN/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7F911425-515D-419E-819E-DBF9F660F00B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>st</string>
				<key>subtext</key>
				<string>Symbol / Name</string>
				<key>text</key>
				<string>Seeking Alpha: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E1E79F96-B9B6-4E82-A30E-4675F1A69286</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://seekingalpha.com/search?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DA4BBEBC-D800-4881-B8D9-8A874F532024</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>st</string>
				<key>subtext</key>
				<string>Symbol / Name</string>
				<key>text</key>
				<string>Google Finance: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F91EA508-870F-488B-A4CB-B869CC763311</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Brave Browser" 
	open location "https://www.google.com/finance/"
	repeat until (loading of active tab of front window is false)
	end repeat 
end tell
delay 0.1
repeat 16 times 
	tell application "System Events" to keystroke tab
end repeat
delay 0.1
tell application "System Events" to keystroke "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>048B4F12-D7D9-45C8-B585-04328FDA52FD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>048B4F12-D7D9-45C8-B585-04328FDA52FD</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>615</integer>
		</dict>
		<key>06D91B7A-623E-4422-A903-85272F1F6636</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>0E0A4979-D128-471C-9B54-25B41452AFC4</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
		<key>45912785-30EA-405D-89AB-4B282E711B2B</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>48A76299-BBE7-47F5-8EBA-5FD15A3E0AE7</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>7F911425-515D-419E-819E-DBF9F660F00B</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
		<key>864DCE5B-F811-4721-9ABE-FE0FBD044363</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>CEDBA1E4-2798-48B5-BD7F-956CDBDAC481</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>D3AADCC3-5488-4AEE-AEE1-6CB42879BADA</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>DA4BBEBC-D800-4881-B8D9-8A874F532024</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>495</integer>
		</dict>
		<key>E1E79F96-B9B6-4E82-A30E-4675F1A69286</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>495</integer>
		</dict>
		<key>F91EA508-870F-488B-A4CB-B869CC763311</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>615</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
