<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.hook</string>
	<key>category</key>
	<string>Mini-Apps</string>
	<key>connections</key>
	<dict>
		<key>03588C08-1D60-408E-A2EF-A553F9387C14</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B76EDB8D-6B8D-4CBD-8EEE-1DE0472AD25D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0B9FF52B-07EB-4F07-B74A-35A6EBB8607B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3BA48FBB-0D42-4A1B-A400-C158DB17B1DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>14AFBDBB-80C6-4254-A9F8-23CE1593EA46</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>37498F17-9307-4129-8202-494A66EC4B25</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>24491933-B7DD-4C39-AAC9-20DA5C46ECC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC210673-CC1B-437B-8A8B-BE2219C2108A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>37498F17-9307-4129-8202-494A66EC4B25</key>
		<array/>
		<key>54EEDF0F-38D4-4CBC-B76F-002C04DC62D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D99851E3-9E5D-4CA2-93F4-37B629B31588</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B55A700-40A0-41EF-A575-3D9B863A07D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14AFBDBB-80C6-4254-A9F8-23CE1593EA46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>866D366A-C1A0-4554-9462-555033CF2E48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B55A700-40A0-41EF-A575-3D9B863A07D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90A15AA9-897C-4C45-8ED5-90643765F393</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C93F5D57-9C03-4F77-BD1F-DBA31D5F8010</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9117FAAD-B0BC-4174-8F6A-D597CF99B5BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>24491933-B7DD-4C39-AAC9-20DA5C46ECC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>99A2F4E4-688D-43F4-A412-92E6CE8DBE6F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC210673-CC1B-437B-8A8B-BE2219C2108A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B76EDB8D-6B8D-4CBD-8EEE-1DE0472AD25D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F00CD042-1650-45E4-8E5B-878CF2C76412</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1B5AA20-B5F4-4655-8B71-C2FFC9FC244D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>99A2F4E4-688D-43F4-A412-92E6CE8DBE6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C7904AB9-8ECC-4CAD-91C7-F8A22100A271</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54EEDF0F-38D4-4CBC-B76F-002C04DC62D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C93F5D57-9C03-4F77-BD1F-DBA31D5F8010</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1B5AA20-B5F4-4655-8B71-C2FFC9FC244D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>EF8204A3-AA7E-412A-8157-EF3DD9F66B52</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C7904AB9-8ECC-4CAD-91C7-F8A22100A271</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>511A85AF-DEBE-478B-9048-2262908F9B36</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CF0D9785-518B-429C-8B36-21780A056B07</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>37ED500A-8DD1-4147-86CF-430C72ED01D5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D7B2AB89-055D-4E5D-87E4-4A18CEE33660</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC210673-CC1B-437B-8A8B-BE2219C2108A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E70145CA-6597-4FA2-8283-F8E3762244FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF0D9785-518B-429C-8B36-21780A056B07</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C248FDE2-0041-4599-B7A8-DE8E7454779F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D7B2AB89-055D-4E5D-87E4-4A18CEE33660</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>866D366A-C1A0-4554-9462-555033CF2E48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D99851E3-9E5D-4CA2-93F4-37B629B31588</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B9FF52B-07EB-4F07-B74A-35A6EBB8607B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E70145CA-6597-4FA2-8283-F8E3762244FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03588C08-1D60-408E-A2EF-A553F9387C14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hook</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>03588C08-1D60-408E-A2EF-A553F9387C14</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>'{query}'</string>
				<key>title</key>
				<string>🪝 File Hook copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F00CD042-1650-45E4-8E5B-878CF2C76412</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run() {
	path = "{query}";

	encoded_path = encodeURIComponent(path);
	encoded_path = encoded_path.replaceAll ("%2F","/"); //file hooks cant be read without "/"

	var name = path.replace (/(.*)\/$/,"$1"); 
	var name = name.replace (/.*\/(.*?)$/,"$1"); 

	var hook = "[" + name + "](file://" + encoded_path + ")";

	return hook;
}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CC210673-CC1B-437B-8A8B-BE2219C2108A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\[(.*)\].*</string>
				<key>regexcaseinsensitive</key>
				<true/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>$1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>B76EDB8D-6B8D-4CBD-8EEE-1DE0472AD25D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>E70145CA-6597-4FA2-8283-F8E3762244FC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>24491933-B7DD-4C39-AAC9-20DA5C46ECC5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>99A2F4E4-688D-43F4-A412-92E6CE8DBE6F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Finder" to set sel to selectionif ((count sel) &gt; 1) then	set firstItem to item 1 of sel	return POSIX path of (firstItem as text)else 	return POSIX path of (sel as text)
end if</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C1B5AA20-B5F4-4655-8B71-C2FFC9FC244D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Copy File Hook</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>9117FAAD-B0BC-4174-8F6A-D597CF99B5BF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>obsidian://hook-get-address</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C7904AB9-8ECC-4CAD-91C7-F8A22100A271</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>'{query}'</string>
				<key>title</key>
				<string>🪝 Obsidian Hook copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3BA48FBB-0D42-4A1B-A400-C158DB17B1DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{clipboard}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D99851E3-9E5D-4CA2-93F4-37B629B31588</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\[(.*)\].*</string>
				<key>regexcaseinsensitive</key>
				<true/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>$1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>0B9FF52B-07EB-4F07-B74A-35A6EBB8607B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>54EEDF0F-38D4-4CBC-B76F-002C04DC62D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:focusedapp}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>com.apple.finder</string>
						<key>outputlabel</key>
						<string>Finder</string>
						<key>uid</key>
						<string>EF8204A3-AA7E-412A-8157-EF3DD9F66B52</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:focusedapp}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>md.obsidian</string>
						<key>outputlabel</key>
						<string>Obsidian</string>
						<key>uid</key>
						<string>511A85AF-DEBE-478B-9048-2262908F9B36</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:focusedapp}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>com.mimestream.Mimestream</string>
						<key>outputlabel</key>
						<string>Mimestream</string>
						<key>uid</key>
						<string>37ED500A-8DD1-4147-86CF-430C72ED01D5</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Browser</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C93F5D57-9C03-4F77-BD1F-DBA31D5F8010</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>27</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>SS</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.brave.Browser</string>
					<string>md.obsidian</string>
					<string>com.mimestream.Mimestream</string>
					<string>com.vivaldi.Vivaldi</string>
					<string>com.apple.finder</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>90A15AA9-897C-4C45-8ED5-90643765F393</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Events"	tell process "Mimestream"		set frontmost to true		click menu item "Open in Gmail" of menu "Message" of menu bar 1	end tellend telldelay 0.1tell application "Brave Browser"	repeat until (loading of active tab of front window is false)
		delay 0.2	end repeat
	delay 1.8	set tabUrl to URL of active tab of front window	set tabTitle to title of active tab of front window
	close active tab of front windowend tell
set markdownurl to "[" &amp; tabTitle &amp; "](" &amp; tabUrl &amp; ")"
set the clipboard to markdownurl

return tabTitle</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CF0D9785-518B-429C-8B36-21780A056B07</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>'{query}'</string>
				<key>title</key>
				<string>✅ Webhook copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C248FDE2-0041-4599-B7A8-DE8E7454779F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Brave Browser"
	set currentTabUrl to URL of active tab of front window
	set currentTabTitle to title of active tab of front window
end tell

return "[" &amp; currentTabTitle &amp; "](" &amp; currentTabUrl &amp; ")"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>get-browser-url_[Browser].applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D7B2AB89-055D-4E5D-87E4-4A18CEE33660</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>5B55A700-40A0-41EF-A575-3D9B863A07D4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>'{query}'</string>
				<key>title</key>
				<string>🪝 URL Hook copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>37498F17-9307-4129-8202-494A66EC4B25</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\[(.*)\].*</string>
				<key>regexcaseinsensitive</key>
				<true/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>$1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>14AFBDBB-80C6-4254-A9F8-23CE1593EA46</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>866D366A-C1A0-4554-9462-555033CF2E48</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>03588C08-1D60-408E-A2EF-A553F9387C14</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>0B9FF52B-07EB-4F07-B74A-35A6EBB8607B</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Strip Markdown</string>
			<key>xpos</key>
			<integer>805</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>14AFBDBB-80C6-4254-A9F8-23CE1593EA46</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Strip Markdown</string>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>24491933-B7DD-4C39-AAC9-20DA5C46ECC5</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>37498F17-9307-4129-8202-494A66EC4B25</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>880</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>3BA48FBB-0D42-4A1B-A400-C158DB17B1DB</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>880</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>54EEDF0F-38D4-4CBC-B76F-002C04DC62D0</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>5B55A700-40A0-41EF-A575-3D9B863A07D4</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>665</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>866D366A-C1A0-4554-9462-555033CF2E48</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>remove \n</string>
			<key>xpos</key>
			<integer>485</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>90A15AA9-897C-4C45-8ED5-90643765F393</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>HOOK: Copy Markdown Link of Current Obsidian File</string>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>9117FAAD-B0BC-4174-8F6A-D597CF99B5BF</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>99A2F4E4-688D-43F4-A412-92E6CE8DBE6F</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>remove \n</string>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>B76EDB8D-6B8D-4CBD-8EEE-1DE0472AD25D</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Strip Markdown</string>
			<key>xpos</key>
			<integer>885</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>C1B5AA20-B5F4-4655-8B71-C2FFC9FC244D</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>get Finder selection</string>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>C248FDE2-0041-4599-B7A8-DE8E7454779F</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>885</integer>
			<key>ypos</key>
			<integer>425</integer>
		</dict>
		<key>C7904AB9-8ECC-4CAD-91C7-F8A22100A271</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>C93F5D57-9C03-4F77-BD1F-DBA31D5F8010</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>405</integer>
		</dict>
		<key>CC210673-CC1B-437B-8A8B-BE2219C2108A</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>CF0D9785-518B-429C-8B36-21780A056B07</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>425</integer>
		</dict>
		<key>D7B2AB89-055D-4E5D-87E4-4A18CEE33660</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>D99851E3-9E5D-4CA2-93F4-37B629B31588</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>get clipboard</string>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>E70145CA-6597-4FA2-8283-F8E3762244FC</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>remove \n</string>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>F00CD042-1650-45E4-8E5B-878CF2C76412</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>955</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
