<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>App-Enhance</string>
	<key>connections</key>
	<dict>
		<key>0BCA3015-AB2D-4D9D-8DE5-B0C2E8B5B13D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B893D1FC-D8A2-4428-BD45-98BF1B5DEE7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1A2A5FF6-BADA-4BD7-AE6D-765E6891E0A6</key>
		<array/>
		<key>436E6838-C21C-4927-B4B9-D7CCB67587DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A2A5FF6-BADA-4BD7-AE6D-765E6891E0A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5221A603-5A7D-4A45-B10C-A5D00CD4DE6A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E0CDB258-951A-4CF7-816C-F47C207C1487</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5BD7290A-4D3C-4A41-A4D4-668385E514AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F48BFF3F-8FB4-4AB7-898D-6636EC60112C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63A791BC-F1D3-429C-9CB8-6D9EFBC129B3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5221A603-5A7D-4A45-B10C-A5D00CD4DE6A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>650384F4-027E-467B-9A93-A0A327A69384</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0BCA3015-AB2D-4D9D-8DE5-B0C2E8B5B13D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69E45CE7-99B7-48A7-971A-A5DC960D59F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D67ED53-EADE-458A-B761-7F5070BEABA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>73EA1276-193A-41EA-B2F3-B51924D85F68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E86AE2B5-1908-43EF-A9FA-653AB569119F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9BF84B32-0217-4A0F-9F75-E541FFDA268D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50B66C20-4163-4A8A-A8C9-AFC175AEA52D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B893D1FC-D8A2-4428-BD45-98BF1B5DEE7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA6F5742-B25C-4044-A613-90AFAA7C559F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1896B440-0D14-482B-83D8-10DC41315FE7</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>275050BC-C378-4DD3-9EB7-156512D3E00D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4D67ED53-EADE-458A-B761-7F5070BEABA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>19D29850-ED9B-4B78-86F5-B6BD87D6F08B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1A2A5FF6-BADA-4BD7-AE6D-765E6891E0A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>83815775-153E-4000-BF7E-E4B856BA8994</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0DA5B2B-624A-4F09-956B-68158231988A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA6F5742-B25C-4044-A613-90AFAA7C559F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DA6F5742-B25C-4044-A613-90AFAA7C559F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50B66C20-4163-4A8A-A8C9-AFC175AEA52D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F48BFF3F-8FB4-4AB7-898D-6636EC60112C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73EA1276-193A-41EA-B2F3-B51924D85F68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Mail &amp; Mimestream Tweaks</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>47</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>.</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.mimestream.Mimestream</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>63A791BC-F1D3-429C-9CB8-6D9EFBC129B3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Events"	tell process "Mimestream"		set frontmost to true		click menu item "Open in Gmail" of menu "Message" of menu bar 1	end tellend telldelay 0.1tell application "Brave Browser"	repeat until (loading of active tab of front window is false)
		delay 0.2	end repeat
	delay 1.8	set tabUrl to URL of active tab of front window	set tabTitle to title of active tab of front window
	close active tab of front windowend tell

set markdownurl to "[" &amp; tabTitle &amp; "](" &amp; tabUrl &amp; ")"tell application "Drafts"	make new draft with properties {content:markdownurl, tags:{"mail"}}end tell

return tabTitle</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5221A603-5A7D-4A45-B10C-A5D00CD4DE6A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>"{query}"</string>
				<key>title</key>
				<string>✅ Tab saved</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E0CDB258-951A-4CF7-816C-F47C207C1487</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>39</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>Ä</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.brave.Browser</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5BD7290A-4D3C-4A41-A4D4-668385E514AB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>mailto:{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E86AE2B5-1908-43EF-A9FA-653AB569119F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Brave Browser"	set tabUrl to URL of active tab of front window	set tabTitle to title of active tab of front windowend tellset tabSelection to "{query}"set mailto_command to "?subject=FYI: " &amp; tabTitle &amp; "&amp;body="if (tabSelection is not "") then set mailto_command to mailto_command &amp; "\"" &amp; tabSelection &amp; "\"" &amp; "\n\n"return mailto_command &amp; tabUrl</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>send-mail.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F48BFF3F-8FB4-4AB7-898D-6636EC60112C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>73EA1276-193A-41EA-B2F3-B51924D85F68</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>mm</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>🔍 Search Mail Archive for '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9BF84B32-0217-4A0F-9F75-E541FFDA268D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Mimestream" to activate

tell application "System Events"
	tell process "Mimestream"
		set frontmost to true
		click menu item "Message Search" of menu of menu item "Find" of menu "Edit" of menu bar 1
	end tell
	keystroke "{query}"
	keystroke return
	keystroke return

end tell</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>50B66C20-4163-4A8A-A8C9-AFC175AEA52D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>newsletter</string>
				<key>subtext</key>
				<string>in Mailplane</string>
				<key>text</key>
				<string>Open Newsletter with attachments</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C0DA5B2B-624A-4F09-956B-68158231988A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>label:newsletter has:attachment</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DA6F5742-B25C-4044-A613-90AFAA7C559F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Newsletter</string>
						<key>outputlabel</key>
						<string>Newsletter</string>
						<key>uid</key>
						<string>1896B440-0D14-482B-83D8-10DC41315FE7</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Snoozed</string>
						<key>outputlabel</key>
						<string>Snoozed</string>
						<key>uid</key>
						<string>19D29850-ED9B-4B78-86F5-B6BD87D6F08B</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Filter</string>
						<key>outputlabel</key>
						<string>Filter</string>
						<key>uid</key>
						<string>83815775-153E-4000-BF7E-E4B856BA8994</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>other folders</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>B893D1FC-D8A2-4428-BD45-98BF1B5DEE7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"📥 Inbox","arg":"Inbox"},{"title":"⭐️ Starred","arg":"Starred"},{"title":"✈️ Sent","arg":"Sent"},{"title":"🗄 All Mail","arg":"All Mail"},{"title":"⛔️ Spam","arg":"Spam"},{"title":"📄 Drafts","arg":"Drafts"},{"title":"🗑 Trash","arg":"Trash"},{"title":"💤 Snoozed","arg":"Snoozed"},{"title":"🗞 Newsletter","arg":"Newsletter"},{"title":"🤖 Filter","arg":"Filter"}]</string>
				<key>keyword</key>
				<string>mm</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Go to Mimestream Folder</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>0BCA3015-AB2D-4D9D-8DE5-B0C2E8B5B13D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Events"
	tell process "Mimestream"
		set frontmost to true
		click menu item "{query}" of menu "Go" of menu bar 1
	end tell
end tell</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>275050BC-C378-4DD3-9EB7-156512D3E00D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>5</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>G</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.mimestream.Mimestream</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>650384F4-027E-467B-9A93-A0A327A69384</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>snoozed</string>
				<key>subtext</key>
				<string>at Gmail Web</string>
				<key>text</key>
				<string>💤 Snoozed Mails</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>69E45CE7-99B7-48A7-971A-A5DC960D59F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://mail.google.com/mail/u/0/#snoozed</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4D67ED53-EADE-458A-B761-7F5070BEABA6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>filter</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Filters in Gmail</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>436E6838-C21C-4927-B4B9-D7CCB67587DE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://mail.google.com/mail/u/0/#settings/filters</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1A2A5FF6-BADA-4BD7-AE6D-765E6891E0A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0BCA3015-AB2D-4D9D-8DE5-B0C2E8B5B13D</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>595</integer>
		</dict>
		<key>1A2A5FF6-BADA-4BD7-AE6D-765E6891E0A6</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>840</integer>
		</dict>
		<key>275050BC-C378-4DD3-9EB7-156512D3E00D</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>595</integer>
		</dict>
		<key>436E6838-C21C-4927-B4B9-D7CCB67587DE</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>840</integer>
		</dict>
		<key>4D67ED53-EADE-458A-B761-7F5070BEABA6</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>715</integer>
		</dict>
		<key>50B66C20-4163-4A8A-A8C9-AFC175AEA52D</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>search query in Mimestream</string>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
		<key>5221A603-5A7D-4A45-B10C-A5D00CD4DE6A</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>175</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>5BD7290A-4D3C-4A41-A4D4-668385E514AB</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Mail the current Brave Tab</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>63A791BC-F1D3-429C-9CB8-6D9EFBC129B3</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Save Mail content to Drafts</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>650384F4-027E-467B-9A93-A0A327A69384</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>595</integer>
		</dict>
		<key>69E45CE7-99B7-48A7-971A-A5DC960D59F1</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>715</integer>
		</dict>
		<key>73EA1276-193A-41EA-B2F3-B51924D85F68</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>9BF84B32-0217-4A0F-9F75-E541FFDA268D</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Search Mail</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>B893D1FC-D8A2-4428-BD45-98BF1B5DEE7A</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>585</integer>
		</dict>
		<key>C0DA5B2B-624A-4F09-956B-68158231988A</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Newsletter with attachments</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
		<key>DA6F5742-B25C-4044-A613-90AFAA7C559F</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>475</integer>
		</dict>
		<key>E0CDB258-951A-4CF7-816C-F47C207C1487</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>E86AE2B5-1908-43EF-A9FA-653AB569119F</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>F48BFF3F-8FB4-4AB7-898D-6636EC60112C</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>175</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
