<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.system-setting-tweaks</string>
	<key>category</key>
	<string>Tweaks</string>
	<key>connections</key>
	<dict>
		<key>086ADC51-1C36-4239-80FE-EAE5EB50BE61</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8839C83-5688-44AC-B24A-F8957F9DFEE8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>378FF7C8-8F26-4E09-9BE0-060F90F8A05C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>757EB6E2-E046-4FD7-A585-14086DA1F869</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4283F2DD-6679-49EB-9D37-D642CB353C50</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>82CAA0B6-576C-4648-953F-A0A3E49502AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>52A3B43D-E2BB-4CB2-9CED-9FD7917F57DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A8148B6-930D-4213-9DC4-2E33F591F8BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>57747060-A0CD-4B39-B9C1-2075DD770F5B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>02B3F5B3-C592-4D21-888D-0801F4A00D65</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C3D67FF-3F64-41B4-A2E2-095301BD8267</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C83E96A2-2B6B-4B7F-9978-E373B263ADC0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72BE8298-0231-4293-BE78-E6E6085F8BC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D5F7838-7272-47F3-8C81-0D7E4BB0547C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>88E9FFE7-4616-49EF-BE3F-71A86AE4F74E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13E3EAD9-B10B-4042-BAE9-4CE466218B91</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8ED576C2-82CE-41ED-A2BF-643C27F7E8C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F0B2953-8162-4E8B-9916-BE313A221630</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F0B3994-FF74-4C0E-98E6-6525CD5854F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>02B3F5B3-C592-4D21-888D-0801F4A00D65</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A481FBCA-92A8-42CB-B252-81DFAA7A19F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>00D4E9D2-D08B-4F2B-B8AF-0766FAAE8B63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A8341D96-DC9A-41AA-B560-59C687781B14</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9B4E770-DAB1-4E77-96ED-4961E24634C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B5CCCF47-D817-4059-95F2-496EA3C510C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2C13A68-FC87-4C88-A98E-CB1989CE5DBE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2321556-1227-4A82-B547-03F772C61E61</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C9481C7-1845-409F-8701-5F57D97C931B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C28B2325-B889-4E3E-850D-4823E11A9FBD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>82CAA0B6-576C-4648-953F-A0A3E49502AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA8A2A7F-193A-400B-B0CB-DD420D4E8D75</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DFCEAF51-C114-4F04-9A73-39E563A7808E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F62D5407-A26D-4775-8F1A-36A43B196C04</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C5F88D1-CFBF-4DFE-AC23-CB563E9E8A96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE470339-53A0-4B38-BAA7-719737CD43D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34899617-63CA-4A4C-9FF7-D1457B153E35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>System Settings Additions</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>permission</string>
				<key>subtext</key>
				<string>at the Mac OS Security Settings</string>
				<key>text</key>
				<string>Grant an Script Permission</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>52A3B43D-E2BB-4CB2-9CED-9FD7917F57DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>/System/Library/PreferencePanes/AppleIDPrefPane.prefPane</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>02B3F5B3-C592-4D21-888D-0801F4A00D65</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>apple id</string>
				<key>subtext</key>
				<string>System Preferences.app</string>
				<key>text</key>
				<string>Apple ID</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>57747060-A0CD-4B39-B9C1-2075DD770F5B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>--based on https://apple.stackexchange.com/questions/217117/applescript-for-specific-system-preferences-panetell application "System Preferences"	activate	-- get the name of every anchor of pane id "com.apple.preference.security"	reveal anchor "General" of pane id "com.apple.preference.security"end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6A8148B6-930D-4213-9DC4-2E33F591F8BD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>icloud</string>
				<key>subtext</key>
				<string>System Preferences.app</string>
				<key>text</key>
				<string>iCloud</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8F0B3994-FF74-4C0E-98E6-6525CD5854F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>keyboard</string>
				<key>subtext</key>
				<string>Mac OS System Settings</string>
				<key>text</key>
				<string>Custom Keyboard Shortcuts</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4283F2DD-6679-49EB-9D37-D642CB353C50</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>--based on https://apple.stackexchange.com/questions/217117/applescript-for-specific-system-preferences-panetell application "System Preferences"	activate
	-- get the name of every anchor of pane id "com.apple.preference.keyboard"	reveal anchor "shortcutsTab" of pane id "com.apple.preference.keyboard"end telltell application "System Events"	tell application process "System Preferences"		repeat until (window 1 exists)		end repeat		tell window 1						repeat until (rows of table 1 of scroll area 1 of splitter group 1 of tab group 1 exists)			end repeat						select (first row of table 1 of scroll area 1 of splitter group 1 of tab group 1 whose value of static text 1 is equal to "App Shortcuts")		end tell	end tellend tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>82CAA0B6-576C-4648-953F-A0A3E49502AF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>energy saver</string>
				<key>subtext</key>
				<string>System Preferences.app</string>
				<key>text</key>
				<string>Energy Saver</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>378FF7C8-8F26-4E09-9BE0-060F90F8A05C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>/System/Library/PreferencePanes/EnergySaverPref.prefPane</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>757EB6E2-E046-4FD7-A585-14086DA1F869</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>custom keyboard</string>
				<key>subtext</key>
				<string>Mac OS System Settings</string>
				<key>text</key>
				<string>Custom Keyboard Shortcuts</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C28B2325-B889-4E3E-850D-4823E11A9FBD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>extensions</string>
				<key>subtext</key>
				<string>System Preferences.app</string>
				<key>text</key>
				<string>⚙️ Extensions</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C2321556-1227-4A82-B547-03F772C61E61</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>/System/Library/PreferencePanes/Extensions.prefPane</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>5C9481C7-1845-409F-8701-5F57D97C931B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>services</string>
				<key>subtext</key>
				<string>Mac OS System Settings</string>
				<key>text</key>
				<string>Services</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6C3D67FF-3F64-41B4-A2E2-095301BD8267</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>--based on https://apple.stackexchange.com/questions/217117/applescript-for-specific-system-preferences-panetell application "System Preferences"	activate
	-- get the name of every anchor of pane id "com.apple.preference.keyboard"	reveal anchor "shortcutsTab" of pane id "com.apple.preference.keyboard"end telltell application "System Events"	tell application process "System Preferences"		repeat until (window 1 exists)		end repeat		tell window 1						repeat until (rows of table 1 of scroll area 1 of splitter group 1 of tab group 1 exists)			end repeat						select (first row of table 1 of scroll area 1 of splitter group 1 of tab group 1 whose value of static text 1 is equal to "Services")		end tell	end tellend tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C83E96A2-2B6B-4B7F-9978-E373B263ADC0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Preferences"	activate	reveal anchor "Text" of pane id "com.apple.preference.keyboard"end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A8839C83-5688-44AC-B24A-F8957F9DFEE8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hot corners</string>
				<key>subtext</key>
				<string>System Preferences.app</string>
				<key>text</key>
				<string>Hot Corners</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8ED576C2-82CE-41ED-A2BF-643C27F7E8C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>text replacements</string>
				<key>subtext</key>
				<string>at the Mac OS System Settings</string>
				<key>text</key>
				<string>Text Replacements</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>086ADC51-1C36-4239-80FE-EAE5EB50BE61</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>--based on https://apple.stackexchange.com/questions/217117/applescript-for-specific-system-preferences-panetell application "System Preferences"	activate	reveal anchor "ScreenSaverPref_HotCorners" of pane id "com.apple.preference.desktopscreeneffect"end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7F0B2953-8162-4E8B-9916-BE313A221630</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>/System/Library/PreferencePanes/ScreenTime.prefPane</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>5D5F7838-7272-47F3-8C81-0D7E4BB0547C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>accessibility keyboard</string>
				<key>subtext</key>
				<string>Mac OS System Settings</string>
				<key>text</key>
				<string>Accessibility Keyboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CA8A2A7F-193A-400B-B0CB-DD420D4E8D75</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>accessibility</string>
				<key>subtext</key>
				<string>System Preferences.app</string>
				<key>text</key>
				<string>Accessibility</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>72BE8298-0231-4293-BE78-E6E6085F8BC5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Preferences"	activate	reveal anchor "Keyboard" of pane id "com.apple.preference.universalaccess"end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DFCEAF51-C114-4F04-9A73-39E563A7808E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>screen time</string>
				<key>subtext</key>
				<string>System Preferences.app</string>
				<key>text</key>
				<string>Screen Time</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A8341D96-DC9A-41AA-B560-59C687781B14</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>application support</string>
				<key>subtext</key>
				<string>~/Library/Application Support</string>
				<key>text</key>
				<string>Application Support</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>88E9FFE7-4616-49EF-BE3F-71A86AE4F74E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Library/Application Support</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>13E3EAD9-B10B-4042-BAE9-4CE466218B91</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>/System/Library/PreferencePanes/UniversalAccessPref.prefPane</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>C9B4E770-DAB1-4E77-96ED-4961E24634C9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Library</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>B2C13A68-FC87-4C88-A98E-CB1989CE5DBE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>library</string>
				<key>subtext</key>
				<string>~/Library/</string>
				<key>text</key>
				<string>Library</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B5CCCF47-D817-4059-95F2-496EA3C510C2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Library/Preferences</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>34899617-63CA-4A4C-9FF7-D1457B153E35</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>preferences</string>
				<key>subtext</key>
				<string>~/Library/Preferences</string>
				<key>text</key>
				<string>Preferences</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FE470339-53A0-4B38-BAA7-719737CD43D4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Library/Containers</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>00D4E9D2-D08B-4F2B-B8AF-0766FAAE8B63</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>containers</string>
				<key>subtext</key>
				<string>~/Library/Containers</string>
				<key>text</key>
				<string>Containers</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A481FBCA-92A8-42CB-B252-81DFAA7A19F6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>home</string>
				<key>subtext</key>
				<string>~</string>
				<key>text</key>
				<string>🏠 Home Folder</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F62D5407-A26D-4775-8F1A-36A43B196C04</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>7C5F88D1-CFBF-4DFE-AC23-CB563E9E8A96</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>00D4E9D2-D08B-4F2B-B8AF-0766FAAE8B63</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>1080</integer>
		</dict>
		<key>02B3F5B3-C592-4D21-888D-0801F4A00D65</key>
		<dict>
			<key>xpos</key>
			<integer>595</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>086ADC51-1C36-4239-80FE-EAE5EB50BE61</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>13E3EAD9-B10B-4042-BAE9-4CE466218B91</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>710</integer>
		</dict>
		<key>34899617-63CA-4A4C-9FF7-D1457B153E35</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>960</integer>
		</dict>
		<key>378FF7C8-8F26-4E09-9BE0-060F90F8A05C</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>4283F2DD-6679-49EB-9D37-D642CB353C50</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>52A3B43D-E2BB-4CB2-9CED-9FD7917F57DF</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>57747060-A0CD-4B39-B9C1-2075DD770F5B</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>5C9481C7-1845-409F-8701-5F57D97C931B</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>595</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>5D5F7838-7272-47F3-8C81-0D7E4BB0547C</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>595</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>6A8148B6-930D-4213-9DC4-2E33F591F8BD</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>6C3D67FF-3F64-41B4-A2E2-095301BD8267</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>72BE8298-0231-4293-BE78-E6E6085F8BC5</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>757EB6E2-E046-4FD7-A585-14086DA1F869</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>595</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>7C5F88D1-CFBF-4DFE-AC23-CB563E9E8A96</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>1205</integer>
		</dict>
		<key>7F0B2953-8162-4E8B-9916-BE313A221630</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>595</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>82CAA0B6-576C-4648-953F-A0A3E49502AF</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>88E9FFE7-4616-49EF-BE3F-71A86AE4F74E</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>710</integer>
		</dict>
		<key>8ED576C2-82CE-41ED-A2BF-643C27F7E8C9</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>8F0B3994-FF74-4C0E-98E6-6525CD5854F1</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>A481FBCA-92A8-42CB-B252-81DFAA7A19F6</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>1080</integer>
		</dict>
		<key>A8341D96-DC9A-41AA-B560-59C687781B14</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>710</integer>
		</dict>
		<key>A8839C83-5688-44AC-B24A-F8957F9DFEE8</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>B2C13A68-FC87-4C88-A98E-CB1989CE5DBE</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>830</integer>
		</dict>
		<key>B5CCCF47-D817-4059-95F2-496EA3C510C2</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>830</integer>
		</dict>
		<key>C2321556-1227-4A82-B547-03F772C61E61</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>C28B2325-B889-4E3E-850D-4823E11A9FBD</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>C83E96A2-2B6B-4B7F-9978-E373B263ADC0</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>C9B4E770-DAB1-4E77-96ED-4961E24634C9</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>595</integer>
			<key>ypos</key>
			<integer>710</integer>
		</dict>
		<key>CA8A2A7F-193A-400B-B0CB-DD420D4E8D75</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>DFCEAF51-C114-4F04-9A73-39E563A7808E</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>F62D5407-A26D-4775-8F1A-36A43B196C04</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>1205</integer>
		</dict>
		<key>FE470339-53A0-4B38-BAA7-719737CD43D4</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>960</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
