<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.</string>
	<key>category</key>
	<string>Tweaks</string>
	<key>connections</key>
	<dict>
		<key>01CFAD8D-1D52-45A0-B72E-CC9C5FB0C528</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1A20EDE-7D84-4613-8C5D-78CDDB5B1A32</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>07F3E669-7D8C-47E5-85F5-C31F86D62585</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>385CE7FF-659B-4285-937C-90BD644A9DCA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>22F72159-1810-4F97-B35E-1BADE014EC65</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>674E7C5B-DE2E-493D-93FF-AD545DD70562</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>27B379BB-1B88-4D59-9ECE-96DFFF88322F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87FAFB82-BA4C-4B86-BFB7-42F829F37218</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2C3AD0F5-2D56-474A-B922-8340DD8E20DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03A61E61-611A-4555-B4F6-30ED79850890</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4CB01888-1BBF-43A3-B369-5C65420EA7C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4BC4FFB2-E0CE-41FF-B371-FE451B884431</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59880808-66A8-4459-B33C-A5FE98786D2F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C6A9FE99-C9C0-4439-98AD-85E5A8105B6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6893CDFD-0423-4258-A2EC-B278E825E37C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4BC4FFB2-E0CE-41FF-B371-FE451B884431</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6FA28B63-C0A5-4A7F-B7DF-7A5D8D46D7CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A2C44298-9734-4D87-B473-D1CC55F3F9E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8CBB163D-17BC-49A4-B0A3-9FFF7333792C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E5C47594-E20E-4252-B77D-DE44DE88B78F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C18F258A-2134-476B-9B2B-3EAB189C3037</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB00F183-AB13-4DF2-AE14-4A98EA8AD9CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C70FFBE4-A0A1-4C49-9F45-C9BDF57AFDB8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E008FEE4-80B7-44B0-8357-2EFAE8FAF71A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CDDD44C0-E8E4-4F89-8ED9-3DB266215A4B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C3AD0F5-2D56-474A-B922-8340DD8E20DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E245279C-76D4-43D7-8F57-E295472BB4F5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7497EF13-1EBB-4720-8F82-83144C19C542</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D3317886-6B6B-4FAB-8FF0-7AAB24B3390D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87FAFB82-BA4C-4B86-BFB7-42F829F37218</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E56FB083-4DE7-4650-A497-30E811525588</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CDDD44C0-E8E4-4F89-8ED9-3DB266215A4B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FC7EFAA0-87A0-4612-8CD8-CD7AE10A83C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E008FEE4-80B7-44B0-8357-2EFAE8FAF71A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Vim</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>vim</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Vim Quick Reference</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E56FB083-4DE7-4650-A497-30E811525588</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>searcher</key>
				<integer>1635215215</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>03A61E61-611A-4555-B4F6-30ED79850890</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>↓</string>
				<key>keycode</key>
				<integer>125</integer>
				<key>keymod</key>
				<integer>10485760</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>E5C47594-E20E-4252-B77D-DE44DE88B78F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>38</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>J</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.tinyspeck.slackmacgap</string>
					<string>com.runningwithcrayons.Alfred</string>
					<string>com.hnc.Discord</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8CBB163D-17BC-49A4-B0A3-9FFF7333792C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string> </string>
						<key>outputlabel</key>
						<string>google</string>
						<key>uid</key>
						<string>E245279C-76D4-43D7-8F57-E295472BB4F5</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>vim keyword</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>CDDD44C0-E8E4-4F89-8ED9-3DB266215A4B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>vim {query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2C3AD0F5-2D56-474A-B922-8340DD8E20DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>open-vim-quickref_[Browser].applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7497EF13-1EBB-4720-8F82-83144C19C542</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>↑</string>
				<key>keycode</key>
				<integer>126</integer>
				<key>keymod</key>
				<integer>10485760</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>674E7C5B-DE2E-493D-93FF-AD545DD70562</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>qlmanage -p ~"/Library/Mobile Documents/com~apple~CloudDocs/Dokumente/Code/Cheatsheets/Vim Cheat Sheet.png"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C6A9FE99-C9C0-4439-98AD-85E5A8105B6F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>40</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>K</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.tinyspeck.slackmacgap</string>
					<string>com.runningwithcrayons.Alfred</string>
					<string>com.hnc.Discord</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>22F72159-1810-4F97-B35E-1BADE014EC65</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vim</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>⌨️ Vim Cheat Sheet</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>59880808-66A8-4459-B33C-A5FE98786D2F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>↩</string>
				<key>keycode</key>
				<integer>36</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>E008FEE4-80B7-44B0-8357-2EFAE8FAF71A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>4</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>H</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.tinyspeck.slackmacgap</string>
					<string>com.runningwithcrayons.Alfred</string>
					<string>com.hnc.Discord</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FC7EFAA0-87A0-4612-8CD8-CD7AE10A83C1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>43</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>,</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>md.obsidian</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>27B379BB-1B88-4D59-9ECE-96DFFF88322F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Library/Mobile Documents/iCloud~md~obsidian/Documents/Main Vault/Meta/obsidian.vimrc</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>87FAFB82-BA4C-4B86-BFB7-42F829F37218</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>4</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>H</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.tinyspeck.slackmacgap</string>
					<string>com.hnc.Discord</string>
					<string>com.runningwithcrayons.Alfred</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C70FFBE4-A0A1-4C49-9F45-C9BDF57AFDB8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vimrc</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>🟪 Open obsidian .vimrc</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D3317886-6B6B-4FAB-8FF0-7AAB24B3390D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>n</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>262144</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>385CE7FF-659B-4285-937C-90BD644A9DCA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>38</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>J</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.runningwithcrayons.Alfred</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>07F3E669-7D8C-47E5-85F5-C31F86D62585</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vimium</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Vimium Settings</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6893CDFD-0423-4258-A2EC-B278E825E37C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>net.kassett.finicky</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>chrome-extension://dbepggeogbaibhgnhhndojpepiihcmeb/pages/options.html#</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4BC4FFB2-E0CE-41FF-B371-FE451B884431</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>p</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>262144</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>A2C44298-9734-4D87-B473-D1CC55F3F9E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>40</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>K</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.runningwithcrayons.Alfred</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6FA28B63-C0A5-4A7F-B7DF-7A5D8D46D7CA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>43</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>,</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.brave.Browser</string>
					<string>org.chromium.Chromium</string>
					<string>com.vivaldi.Vivaldi</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4CB01888-1BBF-43A3-B369-5C65420EA7C4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vim</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Vimac Manual</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C18F258A-2134-476B-9B2B-3EAB189C3037</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/dexterleng/vimac/blob/master/docs/manual.md</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DB00F183-AB13-4DF2-AE14-4A98EA8AD9CB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vim</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Vimium Wiki</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>01CFAD8D-1D52-45A0-B72E-CC9C5FB0C528</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/philc/vimium/wiki/Tips-and-Tricks</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F1A20EDE-7D84-4613-8C5D-78CDDB5B1A32</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>01CFAD8D-1D52-45A0-B72E-CC9C5FB0C528</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>vimium docs</string>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>1025</integer>
		</dict>
		<key>03A61E61-611A-4555-B4F6-30ED79850890</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>07F3E669-7D8C-47E5-85F5-C31F86D62585</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>vim-like keybinds for Alfred</string>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>22F72159-1810-4F97-B35E-1BADE014EC65</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>665</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>27B379BB-1B88-4D59-9ECE-96DFFF88322F</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>vimrc</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>2C3AD0F5-2D56-474A-B922-8340DD8E20DF</key>
		<dict>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>385CE7FF-659B-4285-937C-90BD644A9DCA</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>4BC4FFB2-E0CE-41FF-B371-FE451B884431</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>this way works independent from browser, following finicky settings</string>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>670</integer>
		</dict>
		<key>4CB01888-1BBF-43A3-B369-5C65420EA7C4</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>vimium settings</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>725</integer>
		</dict>
		<key>59880808-66A8-4459-B33C-A5FE98786D2F</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>cheat sheet</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>674E7C5B-DE2E-493D-93FF-AD545DD70562</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>6893CDFD-0423-4258-A2EC-B278E825E37C</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>615</integer>
		</dict>
		<key>6FA28B63-C0A5-4A7F-B7DF-7A5D8D46D7CA</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>7497EF13-1EBB-4720-8F82-83144C19C542</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>87FAFB82-BA4C-4B86-BFB7-42F829F37218</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>8CBB163D-17BC-49A4-B0A3-9FFF7333792C</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>665</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>A2C44298-9734-4D87-B473-D1CC55F3F9E5</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>C18F258A-2134-476B-9B2B-3EAB189C3037</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>vimac docs</string>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>870</integer>
		</dict>
		<key>C6A9FE99-C9C0-4439-98AD-85E5A8105B6F</key>
		<dict>
			<key>note</key>
			<string>Quicklook</string>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>C70FFBE4-A0A1-4C49-9F45-C9BDF57AFDB8</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>CDDD44C0-E8E4-4F89-8ED9-3DB266215A4B</key>
		<dict>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>D3317886-6B6B-4FAB-8FF0-7AAB24B3390D</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>DB00F183-AB13-4DF2-AE14-4A98EA8AD9CB</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>870</integer>
		</dict>
		<key>E008FEE4-80B7-44B0-8357-2EFAE8FAF71A</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>E56FB083-4DE7-4650-A497-30E811525588</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>vim quick reference</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>E5C47594-E20E-4252-B77D-DE44DE88B78F</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>F1A20EDE-7D84-4613-8C5D-78CDDB5B1A32</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>1025</integer>
		</dict>
		<key>FC7EFAA0-87A0-4612-8CD8-CD7AE10A83C1</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
