<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.vim-helper</string>
	<key>category</key>
	<string>Tweaks</string>
	<key>connections</key>
	<dict>
		<key>01CFAD8D-1D52-45A0-B72E-CC9C5FB0C528</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1A20EDE-7D84-4613-8C5D-78CDDB5B1A32</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>27B379BB-1B88-4D59-9ECE-96DFFF88322F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87FAFB82-BA4C-4B86-BFB7-42F829F37218</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2C3AD0F5-2D56-474A-B922-8340DD8E20DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03A61E61-611A-4555-B4F6-30ED79850890</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>46C449F4-C8D3-488A-B15F-D53153D7FC29</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3CED399E-5B73-47CD-AC97-99B0CCD321F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4CB01888-1BBF-43A3-B369-5C65420EA7C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4BC4FFB2-E0CE-41FF-B371-FE451B884431</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59880808-66A8-4459-B33C-A5FE98786D2F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C6A9FE99-C9C0-4439-98AD-85E5A8105B6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6893CDFD-0423-4258-A2EC-B278E825E37C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4BC4FFB2-E0CE-41FF-B371-FE451B884431</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85ED60B5-47C7-4A5C-8E14-F838BDEFFE0B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2FFD13E1-74D7-441C-8D92-52C637DD85D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C18F258A-2134-476B-9B2B-3EAB189C3037</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB00F183-AB13-4DF2-AE14-4A98EA8AD9CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CDDD44C0-E8E4-4F89-8ED9-3DB266215A4B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C3AD0F5-2D56-474A-B922-8340DD8E20DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E245279C-76D4-43D7-8F57-E295472BB4F5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7497EF13-1EBB-4720-8F82-83144C19C542</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D3317886-6B6B-4FAB-8FF0-7AAB24B3390D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87FAFB82-BA4C-4B86-BFB7-42F829F37218</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E56FB083-4DE7-4650-A497-30E811525588</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CDDD44C0-E8E4-4F89-8ED9-3DB266215A4B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Vim</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>vim</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Vim Quick Reference</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E56FB083-4DE7-4650-A497-30E811525588</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>searcher</key>
				<integer>1635215215</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>03A61E61-611A-4555-B4F6-30ED79850890</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vimium</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Vimium Settings</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6893CDFD-0423-4258-A2EC-B278E825E37C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string> </string>
						<key>outputlabel</key>
						<string>google</string>
						<key>uid</key>
						<string>E245279C-76D4-43D7-8F57-E295472BB4F5</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>vim keyword</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>CDDD44C0-E8E4-4F89-8ED9-3DB266215A4B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>vim {query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2C3AD0F5-2D56-474A-B922-8340DD8E20DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.brave.Browser</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>chrome-extension://dbepggeogbaibhgnhhndojpepiihcmeb/pages/options.html#</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4BC4FFB2-E0CE-41FF-B371-FE451B884431</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>43</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>,</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.brave.Browser</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4CB01888-1BBF-43A3-B369-5C65420EA7C4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>open-vim-quickref_[Browser].applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7497EF13-1EBB-4720-8F82-83144C19C542</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>qlmanage -p ~"/Library/Mobile Documents/com~apple~CloudDocs/Dokumente/Code/Cheatsheets/Vim Cheat Sheet.png"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C6A9FE99-C9C0-4439-98AD-85E5A8105B6F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vim</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>⌨️ Vim Cheat Sheet</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>59880808-66A8-4459-B33C-A5FE98786D2F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vim</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Vimac Manual</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C18F258A-2134-476B-9B2B-3EAB189C3037</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/dexterleng/vimac/blob/master/docs/manual.md</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DB00F183-AB13-4DF2-AE14-4A98EA8AD9CB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>43</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>,</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>md.obsidian</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>27B379BB-1B88-4D59-9ECE-96DFFF88322F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Library/Mobile Documents/iCloud~md~obsidian/Documents/Main Vault/Meta/obsidian.vimrc</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>87FAFB82-BA4C-4B86-BFB7-42F829F37218</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vim</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Vimium Wiki</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>01CFAD8D-1D52-45A0-B72E-CC9C5FB0C528</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/philc/vimium/wiki/Tips-and-Tricks</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F1A20EDE-7D84-4613-8C5D-78CDDB5B1A32</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vimrc</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>🟪 Open obsidian .vimrc</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D3317886-6B6B-4FAB-8FF0-7AAB24B3390D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Library/Mobile Documents/com~apple~CloudDocs/Dotfolder/Configs/Alfred.alfredpreferences/workflows/user.workflow.C8CB620C-02A9-44EB-B0ED-2A45CFFAD1D2/Sublime Vim Bindings.json</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>2FFD13E1-74D7-441C-8D92-52C637DD85D7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vim</string>
				<key>subtext</key>
				<string>for Vintage Mode</string>
				<key>text</key>
				<string>Sublime Bindings Reference</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>85ED60B5-47C7-4A5C-8E14-F838BDEFFE0B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vim</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>🟪 CodeMirror vim.js</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>46C449F4-C8D3-488A-B15F-D53153D7FC29</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/codemirror/CodeMirror/blob/master/keymap/vim.js</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3CED399E-5B73-47CD-AC97-99B0CCD321F0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>01CFAD8D-1D52-45A0-B72E-CC9C5FB0C528</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>vimium docs</string>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>03A61E61-611A-4555-B4F6-30ED79850890</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>27B379BB-1B88-4D59-9ECE-96DFFF88322F</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>vimrc</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>2C3AD0F5-2D56-474A-B922-8340DD8E20DF</key>
		<dict>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>2FFD13E1-74D7-441C-8D92-52C637DD85D7</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>3CED399E-5B73-47CD-AC97-99B0CCD321F0</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>725</integer>
		</dict>
		<key>46C449F4-C8D3-488A-B15F-D53153D7FC29</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>cheat sheet</string>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>725</integer>
		</dict>
		<key>4BC4FFB2-E0CE-41FF-B371-FE451B884431</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>this way works independent from browser, following finicky settings</string>
			<key>xpos</key>
			<integer>815</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
		<key>4CB01888-1BBF-43A3-B369-5C65420EA7C4</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>vimium settings</string>
			<key>xpos</key>
			<integer>635</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>59880808-66A8-4459-B33C-A5FE98786D2F</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>cheat sheet</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>6893CDFD-0423-4258-A2EC-B278E825E37C</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>635</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>7497EF13-1EBB-4720-8F82-83144C19C542</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>85ED60B5-47C7-4A5C-8E14-F838BDEFFE0B</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>cheat sheet</string>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>87FAFB82-BA4C-4B86-BFB7-42F829F37218</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>C18F258A-2134-476B-9B2B-3EAB189C3037</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>vimac docs</string>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>C6A9FE99-C9C0-4439-98AD-85E5A8105B6F</key>
		<dict>
			<key>note</key>
			<string>Quicklook</string>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>CDDD44C0-E8E4-4F89-8ED9-3DB266215A4B</key>
		<dict>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>D3317886-6B6B-4FAB-8FF0-7AAB24B3390D</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>DB00F183-AB13-4DF2-AE14-4A98EA8AD9CB</key>
		<dict>
			<key>xpos</key>
			<integer>815</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>E56FB083-4DE7-4650-A497-30E811525588</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>vim quick reference</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>F1A20EDE-7D84-4613-8C5D-78CDDB5B1A32</key>
		<dict>
			<key>xpos</key>
			<integer>815</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
