<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.</string>
	<key>category</key>
	<string>Tweaks</string>
	<key>connections</key>
	<dict>
		<key>27B379BB-1B88-4D59-9ECE-96DFFF88322F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87FAFB82-BA4C-4B86-BFB7-42F829F37218</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4CB01888-1BBF-43A3-B369-5C65420EA7C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4BC4FFB2-E0CE-41FF-B371-FE451B884431</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6893CDFD-0423-4258-A2EC-B278E825E37C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4BC4FFB2-E0CE-41FF-B371-FE451B884431</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D3317886-6B6B-4FAB-8FF0-7AAB24B3390D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87FAFB82-BA4C-4B86-BFB7-42F829F37218</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E56FB083-4DE7-4650-A497-30E811525588</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B2F02B0-5506-4178-BC26-002B9CE8C969</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Vim</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://vimhelp.org/motion.txt.html#{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9B2F02B0-5506-4178-BC26-002B9CE8C969</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>vim</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Vim Help: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E56FB083-4DE7-4650-A497-30E811525588</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>43</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>,</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>md.obsidian</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>27B379BB-1B88-4D59-9ECE-96DFFF88322F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Library/Mobile Documents/iCloud~md~obsidian/Documents/Main Vault/Meta/obsidian.vimrc</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>87FAFB82-BA4C-4B86-BFB7-42F829F37218</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vimrc</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>🟪 Open obsidian .vimrc</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D3317886-6B6B-4FAB-8FF0-7AAB24B3390D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>vimium</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Vimium Settings</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6893CDFD-0423-4258-A2EC-B278E825E37C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>net.kassett.finicky</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>chrome-extension://dbepggeogbaibhgnhhndojpepiihcmeb/pages/options.html#</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4BC4FFB2-E0CE-41FF-B371-FE451B884431</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>43</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>,</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.vivaldi.Vivaldi</string>
					<string>com.brave.Browser</string>
					<string>org.chromium.Chromium</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4CB01888-1BBF-43A3-B369-5C65420EA7C4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>27B379BB-1B88-4D59-9ECE-96DFFF88322F</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>vimrc</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>4BC4FFB2-E0CE-41FF-B371-FE451B884431</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>this way works independent from browser, following finicky settings</string>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>4CB01888-1BBF-43A3-B369-5C65420EA7C4</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>vimium settings</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>6893CDFD-0423-4258-A2EC-B278E825E37C</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>87FAFB82-BA4C-4B86-BFB7-42F829F37218</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>9B2F02B0-5506-4178-BC26-002B9CE8C969</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>D3317886-6B6B-4FAB-8FF0-7AAB24B3390D</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>E56FB083-4DE7-4650-A497-30E811525588</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
