<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.browser-tweaks</string>
	<key>category</key>
	<string>App-Enhance</string>
	<key>connections</key>
	<dict>
		<key>0264536B-A11A-4026-8781-77B94F916844</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A800803-89AC-47BC-8C84-A45508977347</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F170814-90DD-485E-A861-757A4FD92606</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F3C1C68-F012-43DA-97ED-530C7CF22733</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2513E29E-4FCA-4C35-9995-22D60E1405B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46A0180C-0144-4433-8238-86DD95349753</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2A800803-89AC-47BC-8C84-A45508977347</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A19F452-0D46-4C3A-82CE-A51D22AA14E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>46A0180C-0144-4433-8238-86DD95349753</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BE8B707A-6DA8-4CDD-A5BF-434F69DAC7B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F3C1C68-F012-43DA-97ED-530C7CF22733</key>
		<array/>
		<key>7B56F420-3B8B-41EE-AC41-F63DEFF1D7D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D45E592D-0EFD-4B5C-AC13-1C321E5AC745</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BE7EDFB7-052F-45E8-BC4B-5448613EE413</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46A0180C-0144-4433-8238-86DD95349753</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BE8B707A-6DA8-4CDD-A5BF-434F69DAC7B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>40631024-7C9F-4784-A3E7-1116BD6C894A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E51DFA56-3523-4840-8EF6-40FC832EE3BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>10C28BFB-0100-4B2F-BAEF-FEA3FC8C44E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Browser – Vivaldi – Chromium</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>switch-ingonito_[Browser].applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>10C28BFB-0100-4B2F-BAEF-FEA3FC8C44E2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>switch</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Switch to Private Window</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E51DFA56-3523-4840-8EF6-40FC832EE3BB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>sw</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Switch to Safari</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1F170814-90DD-485E-A861-757A4FD92606</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>switch-to-safari_[Browser].applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6F3C1C68-F012-43DA-97ED-530C7CF22733</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>net.kassett.finicky</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>chrome-extension://hfjbmagddngcpeloejdejnfgbamkjaeg/pages/options.html#</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D45E592D-0EFD-4B5C-AC13-1C321E5AC745</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>43</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>,</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.vivaldi.Vivaldi</string>
					<string>com.brave.Browser</string>
					<string>org.chromium.Chromium</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7B56F420-3B8B-41EE-AC41-F63DEFF1D7D1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cp ~'/Library/Application Support/Vivaldi/Default/Bookmarks' ~'/Library/Application Support/Google/Chrome/Default/Bookmarks'
cp ~'/Library/Application Support/Vivaldi/Local State' ~'/Library/Application Support/Google/Chrome/Local State'
cp ~'/Library/Application Support/Vivaldi/Default/History' ~'/Library/Application Support/Google/Chrome/Default/History'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>sync-bookmarks_[Browser].sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2A800803-89AC-47BC-8C84-A45508977347</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>sync</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>🔄 Manual Sync Bookmarks</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0264536B-A11A-4026-8781-77B94F916844</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>🔄 Sync complete</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3A19F452-0D46-4C3A-82CE-A51D22AA14E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>get-alltabs.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>46A0180C-0144-4433-8238-86DD95349753</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>alltabs</string>
				<key>subtext</key>
				<string>{var:chromium_browser}</string>
				<key>text</key>
				<string>Copy the Title and URL of *all* tabs</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BE7EDFB7-052F-45E8-BC4B-5448613EE413</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query} URLs</string>
				<key>title</key>
				<string>✅ URLs copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>40631024-7C9F-4784-A3E7-1116BD6C894A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>BE8B707A-6DA8-4CDD-A5BF-434F69DAC7B4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>27</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>SS</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>org.chromium.Chromium</string>
					<string>com.vivaldi.Vivaldi</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2513E29E-4FCA-4C35-9995-22D60E1405B7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0264536B-A11A-4026-8781-77B94F916844</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
		<key>10C28BFB-0100-4B2F-BAEF-FEA3FC8C44E2</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>1F170814-90DD-485E-A861-757A4FD92606</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>2513E29E-4FCA-4C35-9995-22D60E1405B7</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Copy Info an All Tabs</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>2A800803-89AC-47BC-8C84-A45508977347</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
		<key>3A19F452-0D46-4C3A-82CE-A51D22AA14E8</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
		<key>40631024-7C9F-4784-A3E7-1116BD6C894A</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>575</integer>
		</dict>
		<key>46A0180C-0144-4433-8238-86DD95349753</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>575</integer>
		</dict>
		<key>6F3C1C68-F012-43DA-97ED-530C7CF22733</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>7B56F420-3B8B-41EE-AC41-F63DEFF1D7D1</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>vimium settings</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>BE7EDFB7-052F-45E8-BC4B-5448613EE413</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>575</integer>
		</dict>
		<key>BE8B707A-6DA8-4CDD-A5BF-434F69DAC7B4</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>605</integer>
		</dict>
		<key>D45E592D-0EFD-4B5C-AC13-1C321E5AC745</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>this way works independent from browser</string>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>E51DFA56-3523-4840-8EF6-40FC832EE3BB</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Switch to Private Window</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
