<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.terminal</string>
	<key>category</key>
	<string>Development</string>
	<key>connections</key>
	<dict>
		<key>01443011-3B15-41D0-8772-EFD75B0FE5B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60574399-8C54-4BDA-BC69-20A2ABA15DB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>13706F92-B5C1-4F30-93F7-D6F10BB6FB68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A99D29A-BD9A-4B10-9E09-751F71529447</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1A99D29A-BD9A-4B10-9E09-751F71529447</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AE906983-CE5F-481C-8C1A-B316AD77DB03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4694D7EB-2482-44FA-881E-2597A9A90F9C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0BF4BAA-FA09-4484-B9AE-EDBAAE91DBBB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3ADE22C7-10D2-4528-9298-22A616F276B1</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Reveal in Finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>55FD81E8-D1D7-4ADE-81D6-1C3E3AA3231F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A99D29A-BD9A-4B10-9E09-751F71529447</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5DBE1E1A-ADCD-4ED4-8FC6-D302D5A6C77C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FEC82210-DDF5-46A7-980E-8A195BD3A586</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60574399-8C54-4BDA-BC69-20A2ABA15DB8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B96DFF64-E115-49EF-A0D3-CABFB549CF9D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>259F6D3A-8CDA-43C2-BCEA-C3A789EE2F48</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>13706F92-B5C1-4F30-93F7-D6F10BB6FB68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8452AFF2-72D9-4F70-8338-04EDA0E256F4</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>55FD81E8-D1D7-4ADE-81D6-1C3E3AA3231F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D71CA07B-538E-41DC-9B8E-EB23A95AB12F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A15E878F-A3E0-4C08-9B46-77290F1B153D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>811F15A4-7752-4296-98D3-451AED5998FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AE906983-CE5F-481C-8C1A-B316AD77DB03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B96DFF64-E115-49EF-A0D3-CABFB549CF9D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>811F15A4-7752-4296-98D3-451AED5998FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Terminal &amp; Alacritty</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open "$*"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B0BF4BAA-FA09-4484-B9AE-EDBAAE91DBBB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>.</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>open-dot-file.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open a dotfile</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4694D7EB-2482-44FA-881E-2597A9A90F9C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>3ADE22C7-10D2-4528-9298-22A616F276B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Finder"	if (count windows) is 0 then		set pathToOpen to (path to home folder as string)	else		set pathToOpen to target of Finder window 1 as alias	end ifend tellPOSIX path of pathToOpen</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B96DFF64-E115-49EF-A0D3-CABFB549CF9D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>811F15A4-7752-4296-98D3-451AED5998FD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinterminal</string>
			<key>uid</key>
			<string>AE906983-CE5F-481C-8C1A-B316AD77DB03</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=/usr/local/bin/:/opt/homebrew/bin/:$PATH
subl --command copy_path
sleep 0.1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>13706F92-B5C1-4F30-93F7-D6F10BB6FB68</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:focusedapp}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>com.apple.finder</string>
						<key>outputlabel</key>
						<string>Finder</string>
						<key>uid</key>
						<string>259F6D3A-8CDA-43C2-BCEA-C3A789EE2F48</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:focusedapp}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>com.sublimetext.4</string>
						<key>outputlabel</key>
						<string>Sublime</string>
						<key>uid</key>
						<string>8452AFF2-72D9-4F70-8338-04EDA0E256F4</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:focusedapp}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>md.obsidian</string>
						<key>outputlabel</key>
						<string>Obsidian</string>
						<key>uid</key>
						<string>D71CA07B-538E-41DC-9B8E-EB23A95AB12F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>--</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>60574399-8C54-4BDA-BC69-20A2ABA15DB8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>01443011-3B15-41D0-8772-EFD75B0FE5B8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:vault_path}/{clipboard}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1A99D29A-BD9A-4B10-9E09-751F71529447</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open "obsidian://advanced-uri?commandid=workspace%253Acopy-path"
sleep 0.1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>55FD81E8-D1D7-4ADE-81D6-1C3E3AA3231F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/System/Volumes/Data/Applications/Alacritty.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>A15E878F-A3E0-4C08-9B46-77290F1B153D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>43</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>,</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>io.alacritty</string>
					<string>co.zeit.hyper</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5DBE1E1A-ADCD-4ED4-8FC6-D302D5A6C77C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>o</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>262144</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>FEC82210-DDF5-46A7-980E-8A195BD3A586</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>01443011-3B15-41D0-8772-EFD75B0FE5B8</key>
		<dict>
			<key>note</key>
			<string>open current Finder Window in Hyper</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>13706F92-B5C1-4F30-93F7-D6F10BB6FB68</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>1A99D29A-BD9A-4B10-9E09-751F71529447</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>3ADE22C7-10D2-4528-9298-22A616F276B1</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>4694D7EB-2482-44FA-881E-2597A9A90F9C</key>
		<dict>
			<key>note</key>
			<string>open dotfile</string>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>55FD81E8-D1D7-4ADE-81D6-1C3E3AA3231F</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>495</integer>
		</dict>
		<key>5DBE1E1A-ADCD-4ED4-8FC6-D302D5A6C77C</key>
		<dict>
			<key>note</key>
			<string>defined in Hyper .zshrc as searching zsh files</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>745</integer>
		</dict>
		<key>60574399-8C54-4BDA-BC69-20A2ABA15DB8</key>
		<dict>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>811F15A4-7752-4296-98D3-451AED5998FD</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>A15E878F-A3E0-4C08-9B46-77290F1B153D</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>605</integer>
		</dict>
		<key>AE906983-CE5F-481C-8C1A-B316AD77DB03</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>B0BF4BAA-FA09-4484-B9AE-EDBAAE91DBBB</key>
		<dict>
			<key>note</key>
			<string>open and enlarge in Moom</string>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>B96DFF64-E115-49EF-A0D3-CABFB549CF9D</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>FEC82210-DDF5-46A7-980E-8A195BD3A586</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>745</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>dotfile_folder</key>
		<string>~/Library/Mobile Documents/com~apple~CloudDocs/Dotfolder/Configs/</string>
		<key>vault_path</key>
		<string>~/Library/Mobile Documents/iCloud~md~obsidian/Documents/Main Vault/</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>vault_path</string>
		<string>dotfile_folder</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
