<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.fileimport.F7056FC6-CDF2-4123-8D95-058C6EBE8ED4</string>
	<key>lightthemeuid</key>
	<string>theme.fileimport.F7056FC6-CDF2-4123-8D95-058C6EBE8ED4</string>
</dict>
</plist>
