<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.alfred-tweaks</string>
	<key>category</key>
	<string>App-Enhance</string>
	<key>connections</key>
	<dict>
		<key>411F0C67-7E50-4B01-AF68-F2742465259B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33BD77E2-2929-432E-9718-B2FDBAF4EFE5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>48898411-6F12-4ADD-830B-88FED0F66BB0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FBE773BF-5340-43E6-98F8-22E1C4F01CC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4A3828AC-7DF5-44AE-84CE-3F1B054C7349</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABF30A35-70D2-41E3-B40B-4A5E783EB7FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59B65F8F-3EDB-4000-8F90-1C01AF6BC6A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F55D1533-F14F-4A8E-88D1-B4C3F3DACB70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>88BE14E8-8C6C-40C6-9497-48E193416293</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BF89C364-F5A2-446D-A3F4-F0EAF2212146</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>424FC24A-8D2D-4BE5-A394-E934EF993E6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B7DFCDF-718D-4957-985A-AA31D51AEFFC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5D0024E-316C-4A4C-BEA4-7366C58BF580</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72429B6F-6A52-4E6C-93A4-FD88489A22F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C4DE1F4-CC9B-41F7-A3B6-122F5485EA84</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85821837-B8CC-4E2F-8D92-FB37B1751D4A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2EA83ACB-1D43-4465-89A8-1EED23E68EBE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>87D2259B-68B5-40C8-A569-15A2E37F914B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF914E27-A341-4A6B-A7FF-20CBE3711527</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C4DE1F4-CC9B-41F7-A3B6-122F5485EA84</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48898411-6F12-4ADD-830B-88FED0F66BB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A77F6073-1BB7-43C2-949B-216A52B8B0CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D81F901E-8EAB-4D27-B7F2-CB2C26893AEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB2FC894-EB25-4C16-B958-43863871807B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>57787A3F-711D-487E-A402-6DB381439B3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B018B47C-9CD6-45B3-B5D8-DD61F004909D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A77F6073-1BB7-43C2-949B-216A52B8B0CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BC41C6FD-A0A1-48EC-A156-72DC0D9520FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A77F6073-1BB7-43C2-949B-216A52B8B0CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF914E27-A341-4A6B-A7FF-20CBE3711527</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85821837-B8CC-4E2F-8D92-FB37B1751D4A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB75DE0D-5D08-4DC0-8F18-35F4D551A52A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB2FC894-EB25-4C16-B958-43863871807B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DCD9C133-BB06-4C67-9775-B4814A38FF71</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A6AD1C0-ABCF-4C85-8E12-C4170B8982C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EA308BDF-BCED-4117-9030-4669B0788A69</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D3101C8E-86A8-40F1-8C6A-70B2A6C75FD2</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Browse in Terminal</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FE8AF774-E4D4-43C8-BD75-05FFC0A2C559</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F335D8C8-905A-4192-90B9-033173FEB8AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48898411-6F12-4ADD-830B-88FED0F66BB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FBE773BF-5340-43E6-98F8-22E1C4F01CC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB75DE0D-5D08-4DC0-8F18-35F4D551A52A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred Tweaks</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Blow</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>2EA83ACB-1D43-4465-89A8-1EED23E68EBE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinterminal</string>
			<key>uid</key>
			<string>D3101C8E-86A8-40F1-8C6A-70B2A6C75FD2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>✅ Mac Text Replacement ➞ Alfred Snippets</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>85821837-B8CC-4E2F-8D92-FB37B1751D4A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>shortcuts2alfred.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CF914E27-A341-4A6B-A7FF-20CBE3711527</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>??</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>alfred-workflow-folder-search.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Alfred Workflow Folders</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EA308BDF-BCED-4117-9030-4669B0788A69</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>import text replacements</string>
				<key>subtext</key>
				<string>One-Way-Sync</string>
				<key>text</key>
				<string>Mac Text Replacements ➞ Alfred Snippets</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>87D2259B-68B5-40C8-A569-15A2E37F914B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>FE8AF774-E4D4-43C8-BD75-05FFC0A2C559</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/search?q=alfred-workflow+{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F55D1533-F14F-4A8E-88D1-B4C3F3DACB70</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://npms.io/search?q=alfred+workflow+{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>88BE14E8-8C6C-40C6-9497-48E193416293</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>pa</string>
				<key>subtext</key>
				<string>at Packal, PacMax, and GitHub</string>
				<key>text</key>
				<string>Search Alfred Workflows for '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>59B65F8F-3EDB-4000-8F90-1C01AF6BC6A5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://www.packal.org/workflow-search?query={query}&amp;osx-version=All&amp;items_per_page=50</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>424FC24A-8D2D-4BE5-A394-E934EF993E6F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://pacmax.org/?s={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BF89C364-F5A2-446D-A3F4-F0EAF2212146</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>/Applications/Alfred 4.app/Contents/Preferences</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>D5D0024E-316C-4A4C-BEA4-7366C58BF580</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>alfred preference file</string>
				<key>subtext</key>
				<string>Reveal in Finder</string>
				<key>text</key>
				<string>⚙️📄 Alfred Preference File</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5B7DFCDF-718D-4957-985A-AA31D51AEFFC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>kill alfred</string>
				<key>subtext</key>
				<string>and reveal it in Finder</string>
				<key>text</key>
				<string>Force Quit Alfred</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BC41C6FD-A0A1-48EC-A156-72DC0D9520FF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Library/Caches/com.runningwithcrayons.Alfred</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>ABF30A35-70D2-41E3-B40B-4A5E783EB7FC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>alfred workflow cache</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>📂 Alfred Workflow Cache</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4A3828AC-7DF5-44AE-84CE-3F1B054C7349</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>display notification "" with title "🛑 Force Quitting Alfred"
tell application "Alfred Preferences" to quitdo shell script "killall -KILL Alfred"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D81F901E-8EAB-4D27-B7F2-CB2C26893AEF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>/Applications/Alfred 4.app</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>A77F6073-1BB7-43C2-949B-216A52B8B0CF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>restart alfred</string>
				<key>subtext</key>
				<string>and reveal it in Finder</string>
				<key>text</key>
				<string>Force Quit Alfred</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B018B47C-9CD6-45B3-B5D8-DD61F004909D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Library/Application Support/Alfred/Workflow Data</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>33BD77E2-2929-432E-9718-B2FDBAF4EFE5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>alfred workflow data</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>📂 Alfred Workflow Data</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>411F0C67-7E50-4B01-AF68-F2742465259B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>alfred workflows</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>📂 Alfred Workflows Folder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DCD9C133-BB06-4C67-9775-B4814A38FF71</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open ..</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4A6AD1C0-ABCF-4C85-8E12-C4170B8982C5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>bkp alfred</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Backup: Alfred Preferences</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F335D8C8-905A-4192-90B9-033173FEB8AF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>timestamp=`date '+%Y-%m-%d_%H-%M'`
resolved_bkp_dest=~`echo -n $backup_location | sed -e "s/~//"`
backup="$resolved_bkp_dest""/Alfred-Backup_""$timestamp"".zip"
vault=~`echo -n $vault_path | sed -e "s/~//"`

# directory change necessary to avoid zipping root folder
# https://unix.stackexchange.com/questions/245856/zip-a-file-without-including-the-parent-directory
cd $vault
zip -r --quiet $backup ./*

# restrict number of backups
actual_number=$((max_number_of_bkps + 1))
cd $resolved_bkp_dest
ls -t | tail -n +$actual_number | tr '\n' '\0' | xargs -0 rm

echo "$backup"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>alfred-backup.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FBE773BF-5340-43E6-98F8-22E1C4F01CC5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Blow</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>57787A3F-711D-487E-A402-6DB381439B3A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Alfred Preferences</string>
				<key>title</key>
				<string>⏳ Creating Backup...</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>48898411-6F12-4ADD-830B-88FED0F66BB0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>'{query}'</string>
				<key>title</key>
				<string>✅ Alfred Preferences Backup finished</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DB75DE0D-5D08-4DC0-8F18-35F4D551A52A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:mode}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>no sound</string>
						<key>outputlabel</key>
						<string>no</string>
						<key>uid</key>
						<string>FEA7E4E2-00DD-487A-B6A4-1A72E14035C4</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>yes</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>AB2FC894-EB25-4C16-B958-43863871807B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>backup-alfred-prefs</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>72429B6F-6A52-4E6C-93A4-FD88489A22F2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>mode</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8C4DE1F4-CC9B-41F7-A3B6-122F5485EA84</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2EA83ACB-1D43-4465-89A8-1EED23E68EBE</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>1005</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>33BD77E2-2929-432E-9718-B2FDBAF4EFE5</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>675</integer>
			<key>ypos</key>
			<integer>755</integer>
		</dict>
		<key>411F0C67-7E50-4B01-AF68-F2742465259B</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>525</integer>
			<key>ypos</key>
			<integer>755</integer>
		</dict>
		<key>424FC24A-8D2D-4BE5-A394-E934EF993E6F</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>48898411-6F12-4ADD-830B-88FED0F66BB0</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>1025</integer>
		</dict>
		<key>4A3828AC-7DF5-44AE-84CE-3F1B054C7349</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>525</integer>
			<key>ypos</key>
			<integer>635</integer>
		</dict>
		<key>4A6AD1C0-ABCF-4C85-8E12-C4170B8982C5</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>675</integer>
			<key>ypos</key>
			<integer>890</integer>
		</dict>
		<key>57787A3F-711D-487E-A402-6DB381439B3A</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>1025</integer>
		</dict>
		<key>59B65F8F-3EDB-4000-8F90-1C01AF6BC6A5</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>5B7DFCDF-718D-4957-985A-AA31D51AEFFC</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>525</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>72429B6F-6A52-4E6C-93A4-FD88489A22F2</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>1145</integer>
		</dict>
		<key>85821837-B8CC-4E2F-8D92-FB37B1751D4A</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>860</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>87D2259B-68B5-40C8-A569-15A2E37F914B</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>88BE14E8-8C6C-40C6-9497-48E193416293</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>8C4DE1F4-CC9B-41F7-A3B6-122F5485EA84</key>
		<dict>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>1175</integer>
		</dict>
		<key>A77F6073-1BB7-43C2-949B-216A52B8B0CF</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>195</integer>
			<key>ypos</key>
			<integer>655</integer>
		</dict>
		<key>AB2FC894-EB25-4C16-B958-43863871807B</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>sound</string>
			<key>xpos</key>
			<integer>685</integer>
			<key>ypos</key>
			<integer>1045</integer>
		</dict>
		<key>ABF30A35-70D2-41E3-B40B-4A5E783EB7FC</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>675</integer>
			<key>ypos</key>
			<integer>635</integer>
		</dict>
		<key>B018B47C-9CD6-45B3-B5D8-DD61F004909D</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>730</integer>
		</dict>
		<key>BC41C6FD-A0A1-48EC-A156-72DC0D9520FF</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>BF89C364-F5A2-446D-A3F4-F0EAF2212146</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>CF914E27-A341-4A6B-A7FF-20CBE3711527</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>script by deanishe
https://www.deanishe.net/snippet/macos-shortcuts-to-alfred-snippets/</string>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>D3101C8E-86A8-40F1-8C6A-70B2A6C75FD2</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>D5D0024E-316C-4A4C-BEA4-7366C58BF580</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>675</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>D81F901E-8EAB-4D27-B7F2-CB2C26893AEF</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>335</integer>
			<key>ypos</key>
			<integer>655</integer>
		</dict>
		<key>DB75DE0D-5D08-4DC0-8F18-35F4D551A52A</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>1025</integer>
		</dict>
		<key>DCD9C133-BB06-4C67-9775-B4814A38FF71</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>525</integer>
			<key>ypos</key>
			<integer>890</integer>
		</dict>
		<key>EA308BDF-BCED-4117-9030-4669B0788A69</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>F335D8C8-905A-4192-90B9-033173FEB8AF</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>1025</integer>
		</dict>
		<key>F55D1533-F14F-4A8E-88D1-B4C3F3DACB70</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>FBE773BF-5340-43E6-98F8-22E1C4F01CC5</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>385</integer>
			<key>ypos</key>
			<integer>1025</integer>
		</dict>
		<key>FE8AF774-E4D4-43C8-BD75-05FFC0A2C559</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>backup_destination</key>
		<string>~/Library/Mobile Documents/com~apple~CloudDocs/Dotfolder/Backups/Alfred Backups/</string>
		<key>max_number_of_bkps</key>
		<string>10</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>backup_destination</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
