<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.youtube-dl</string>
	<key>category</key>
	<string>Mini-Apps</string>
	<key>connections</key>
	<dict>
		<key>2222585C-F175-4CBD-BC57-C55F821DE219</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3082A01E-D70F-4A61-BCD6-279BA44898EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>223086CD-2601-4A5A-BB76-0691F91DE057</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>196AB604-341E-4C1E-982F-8526748087C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2856DA0F-7623-47F9-9E7C-DA4CC8F0B448</key>
		<array/>
		<key>2B34C51A-B434-45D5-9705-2866E79B33BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0034F9D-C3AB-45C4-B7FD-F2DF921E9D5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3082A01E-D70F-4A61-BCD6-279BA44898EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8196B3A3-C2F5-4671-9DF6-45B68DD7C2A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>414582E5-0391-48AC-B78B-79F0B0E179EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>66AE3F35-B1A8-4065-90F8-C963E53500E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A0E4510C-6461-4612-A3BA-C99197121991</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>429454C0-5ED5-436C-99A6-A84EC3A36606</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C95ABEC-28D1-4028-AB4E-6D151DDE1C27</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5043B89E-B8D1-4515-ACDA-70F5B4D009FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>414582E5-0391-48AC-B78B-79F0B0E179EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>53169D05-5A71-4103-970B-8F3A69EF3B5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B499572-5E46-4FAB-98CF-964B1B5F6189</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>548C7E00-D279-4BFE-B4CB-4F94C970637F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B268CB5-D72B-4280-8EC7-820859701FDE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B268CB5-D72B-4280-8EC7-820859701FDE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B34C51A-B434-45D5-9705-2866E79B33BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5E14B5E2-FFB6-4886-AE1D-F0BACE930817</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B499572-5E46-4FAB-98CF-964B1B5F6189</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>66AE3F35-B1A8-4065-90F8-C963E53500E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E6A06157-47F3-4C45-B94C-30ACCE2DB626</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B13FDA78-F912-4379-8044-815D8730371F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>429454C0-5ED5-436C-99A6-A84EC3A36606</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DFD5D12E-B63F-421E-A927-D95DD8C053A6</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C7716DBE-2C15-46FC-A1E7-1A722EA60267</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>77FF34ED-C1A2-4866-B205-06B792B3975B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B06046A-148C-4F17-B241-C48299B1D2F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7EC8C18F-E353-4A93-9F40-FDB4C9531D57</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F30AA24D-259D-4D2C-80C9-06B5EA576F7C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8AF7275E-51AE-4DA8-B0FF-553D3E4A8FC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B34C51A-B434-45D5-9705-2866E79B33BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>905948C2-F071-4D3E-A1F5-3A0E54BC18F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B268CB5-D72B-4280-8EC7-820859701FDE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD6B3B47-0FED-4C6D-BAD5-3D5E62636CB8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F30AA24D-259D-4D2C-80C9-06B5EA576F7C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0034F9D-C3AB-45C4-B7FD-F2DF921E9D5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77FF34ED-C1A2-4866-B205-06B792B3975B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>651E4EB7-5F03-42F1-9130-6F3D6997E3D6</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E1E42FAB-DEA5-479C-90B3-1B2A03B28BBF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C7716DBE-2C15-46FC-A1E7-1A722EA60267</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2856DA0F-7623-47F9-9E7C-DA4CC8F0B448</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1E42FAB-DEA5-479C-90B3-1B2A03B28BBF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>802A4E01-7BC2-4D33-AE03-CA4171F5CEE7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E6A06157-47F3-4C45-B94C-30ACCE2DB626</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6D1C954-6EC9-4DF0-9124-DC7506653028</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EBED940A-68DC-4A35-9CD2-2C0E2BD11D63</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>196AB604-341E-4C1E-982F-8526748087C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F30AA24D-259D-4D2C-80C9-06B5EA576F7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5043B89E-B8D1-4515-ACDA-70F5B4D009FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F6D1C954-6EC9-4DF0-9124-DC7506653028</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33CF17A9-1A60-40FB-9D0B-7D9CAB6DDB37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Download Youtube Videos and Youtube Captions</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>youtube-dl</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>log ydl</string>
				<key>subtext</key>
				<string>youtube-dl</string>
				<key>text</key>
				<string>Show Log</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>53169D05-5A71-4103-970B-8F3A69EF3B5C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Basso</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>F6D1C954-6EC9-4DF0-9124-DC7506653028</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>tube-offline</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>33CF17A9-1A60-40FB-9D0B-7D9CAB6DDB37</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>trying Tube Offline</string>
				<key>title</key>
				<string>⛔️ Site not supported</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E6A06157-47F3-4C45-B94C-30ACCE2DB626</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>youtube-dl.log</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>4B499572-5E46-4FAB-98CF-964B1B5F6189</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ydl log</string>
				<key>subtext</key>
				<string>youtube-dl</string>
				<key>text</key>
				<string>Show Log</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5E14B5E2-FFB6-4886-AE1D-F0BACE930817</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Basso</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>0C95ABEC-28D1-4028-AB4E-6D151DDE1C27</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>❓ Site Support unclear</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>429454C0-5ED5-436C-99A6-A84EC3A36606</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=/usr/local/bin/:/opt/homebrew/bin/:$PATH

download_location=~`echo -n $download_location | sed -e "s/~//"`
cd "$download_location"
youtube-dl --format $output_format "{query}" 2&gt;&amp;1</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>414582E5-0391-48AC-B78B-79F0B0E179EF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Brave Browser" to return URL of active tab of front window</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F30AA24D-259D-4D2C-80C9-06B5EA576F7C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ydl</string>
				<key>subtext</key>
				<string>Brave tab</string>
				<key>text</key>
				<string>⬇️ Download with youtube-dl</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7EC8C18F-E353-4A93-9F40-FDB4C9531D57</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:url}</string>
				<key>title</key>
				<string>Starting download...</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5043B89E-B8D1-4515-ACDA-70F5B4D009FA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>.*error.*</string>
						<key>outputlabel</key>
						<string>error</string>
						<key>uid</key>
						<string>B13FDA78-F912-4379-8044-815D8730371F</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>.*warning.*</string>
						<key>outputlabel</key>
						<string>warning</string>
						<key>uid</key>
						<string>DFD5D12E-B63F-421E-A927-D95DD8C053A6</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>success</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>66AE3F35-B1A8-4065-90F8-C963E53500E3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>✅ Download finished</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C7716DBE-2C15-46FC-A1E7-1A722EA60267</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Blow</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>2856DA0F-7623-47F9-9E7C-DA4CC8F0B448</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>youtube-dl</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>AD6B3B47-0FED-4C6D-BAD5-3D5E62636CB8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>youtube-dl.log</string>
				<key>filetext</key>
				<string>=========================================
{datetime:medium} &gt; URL: {var:url}
{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>A0E4510C-6461-4612-A3BA-C99197121991</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Events"
	tell process "Brave Browser"
		set frontmost to true
		click menu item "DL with TubeOffline" of menu "Bookmarks" of menu bar 1
	end tell

	delay 0.2

	tell application "System Events" to keystroke tab
	delay 0.1
	tell application "System Events" to keystroke return
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>196AB604-341E-4C1E-982F-8526748087C9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ydl</string>
				<key>subtext</key>
				<string>Brave tab</string>
				<key>text</key>
				<string>Download with Tube Offline</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>223086CD-2601-4A5A-BB76-0691F91DE057</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>tube-offline</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>EBED940A-68DC-4A35-9CD2-2C0E2BD11D63</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://subtitle.to/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8196B3A3-C2F5-4671-9DF6-45B68DD7C2A3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Brave Browser" to return URL of active tab of front window</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3082A01E-D70F-4A61-BCD6-279BA44898EF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ydl</string>
				<key>subtext</key>
				<string>Brave tab</string>
				<key>text</key>
				<string>Extract Closed Captions</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2222585C-F175-4CBD-BC57-C55F821DE219</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Brave Browser"	return the URL of active tab of front windowend tell

-- funktioniert auch mit der Youtube Webapp</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5B268CB5-D72B-4280-8EC7-820859701FDE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>wl</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Watch Later</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>548C7E00-D279-4BFE-B4CB-4F94C970637F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>title=`curl -s "{query}" | grep -o "&lt;title&gt;[^&lt;]*" | cut -d'&gt;' -f2- | sed -E 's/\:/-/g' `

echo -n "$title"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>watch-later.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>77FF34ED-C1A2-4866-B205-06B792B3975B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<true/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>🎞 Youtube Link saved</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4B06046A-148C-4F17-B241-C48299B1D2F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>youtube-video-save</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>905948C2-F071-4D3E-A1F5-3A0E54BC18F0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>https?.*youtu.*</string>
						<key>outputlabel</key>
						<string>Youtube Link</string>
						<key>uid</key>
						<string>651E4EB7-5F03-42F1-9130-6F3D6997E3D6</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C0034F9D-C3AB-45C4-B7FD-F2DF921E9D5C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>2B34C51A-B434-45D5-9705-2866E79B33BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Basso</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>802A4E01-7BC2-4D33-AE03-CA4171F5CEE7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>⛔️ Not a YouTube Link</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E1E42FAB-DEA5-479C-90B3-1B2A03B28BBF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Save YouTube Link to watch later</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>8AF7275E-51AE-4DA8-B0FF-553D3E4A8FC7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).

https://github.com/ytdl-org/youtube-dl
https://ytdl-org.github.io/youtube-dl/supportedsites.html</string>
	<key>uidata</key>
	<dict>
		<key>0C95ABEC-28D1-4028-AB4E-6D151DDE1C27</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>975</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>196AB604-341E-4C1E-982F-8526748087C9</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>open with Tube-Offline</string>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>505</integer>
		</dict>
		<key>2222585C-F175-4CBD-BC57-C55F821DE219</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>765</integer>
		</dict>
		<key>223086CD-2601-4A5A-BB76-0691F91DE057</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>505</integer>
		</dict>
		<key>2856DA0F-7623-47F9-9E7C-DA4CC8F0B448</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>975</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>2B34C51A-B434-45D5-9705-2866E79B33BC</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>1065</integer>
		</dict>
		<key>3082A01E-D70F-4A61-BCD6-279BA44898EF</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>get current Brave URL</string>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>765</integer>
		</dict>
		<key>33CF17A9-1A60-40FB-9D0B-7D9CAB6DDB37</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>1130</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>414582E5-0391-48AC-B78B-79F0B0E179EF</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>run youtube-dl</string>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>429454C0-5ED5-436C-99A6-A84EC3A36606</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>835</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>4B06046A-148C-4F17-B241-C48299B1D2F1</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>755</integer>
			<key>ypos</key>
			<integer>970</integer>
		</dict>
		<key>4B499572-5E46-4FAB-98CF-964B1B5F6189</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>5043B89E-B8D1-4515-ACDA-70F5B4D009FA</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>53169D05-5A71-4103-970B-8F3A69EF3B5C</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>548C7E00-D279-4BFE-B4CB-4F94C970637F</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>920</integer>
		</dict>
		<key>5B268CB5-D72B-4280-8EC7-820859701FDE</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>get Browser URL</string>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>920</integer>
		</dict>
		<key>5E14B5E2-FFB6-4886-AE1D-F0BACE930817</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>66AE3F35-B1A8-4065-90F8-C963E53500E3</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>715</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>77FF34ED-C1A2-4866-B205-06B792B3975B</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>save bookmark with image</string>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>970</integer>
		</dict>
		<key>7EC8C18F-E353-4A93-9F40-FDB4C9531D57</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>802A4E01-7BC2-4D33-AE03-CA4171F5CEE7</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>1115</integer>
		</dict>
		<key>8196B3A3-C2F5-4671-9DF6-45B68DD7C2A3</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>765</integer>
		</dict>
		<key>8AF7275E-51AE-4DA8-B0FF-553D3E4A8FC7</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>1160</integer>
		</dict>
		<key>905948C2-F071-4D3E-A1F5-3A0E54BC18F0</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>1045</integer>
		</dict>
		<key>A0E4510C-6461-4612-A3BA-C99197121991</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>685</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
		<key>AD6B3B47-0FED-4C6D-BAD5-3D5E62636CB8</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>C0034F9D-C3AB-45C4-B7FD-F2DF921E9D5C</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>1060</integer>
		</dict>
		<key>C7716DBE-2C15-46FC-A1E7-1A722EA60267</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>835</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>E1E42FAB-DEA5-479C-90B3-1B2A03B28BBF</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>1115</integer>
		</dict>
		<key>E6A06157-47F3-4C45-B94C-30ACCE2DB626</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>835</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>EBED940A-68DC-4A35-9CD2-2C0E2BD11D63</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>F30AA24D-259D-4D2C-80C9-06B5EA576F7C</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>get current Brave URL</string>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>F6D1C954-6EC9-4DF0-9124-DC7506653028</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>975</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>download_location</key>
		<string>~/RomComs/-new</string>
		<key>output_format</key>
		<string>mp4</string>
		<key>youtube_link_folder</key>
		<string>~/Video</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>youtube_link_folder</string>
		<string>download_location</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
