<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.spotify-addons</string>
	<key>category</key>
	<string>Mini-Apps</string>
	<key>connections</key>
	<dict>
		<key>1D4EED54-9514-43EC-9BC4-7A8A6B03907C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28E7073C-2779-46C7-A8E3-007F46FC376A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1EDA82D8-DEB1-4151-8DC5-F51794B6E2FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D6EB3AB5-9048-465D-AF65-48C51D047CC0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>263DA679-0602-45FE-A0A6-45AEFAB74FDD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D6EB3AB5-9048-465D-AF65-48C51D047CC0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6CD8AF93-D744-4CEC-B5D0-A20CA8D0CC3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86E09A50-EBF6-4941-A0FA-85796C77228C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6EAD1602-867E-4E58-82D9-9EC255346B4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1FD0DFFE-0E3F-4396-8B1E-AE93C7195657</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>86E09A50-EBF6-4941-A0FA-85796C77228C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A86B85AF-6D88-4FBD-B6AE-5B97A0E3ADA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B531A14-88BF-44C0-B14F-371CF58903CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09264DB4-F9F0-4B1A-BDFE-A4D02F0B6AA9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A61354DB-E524-4D0E-A28B-8AAC9523262F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8EF193F5-A2E3-4A49-BA7A-F70313BF2B27</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD3DCD06-0285-4282-BA32-689DC26CE0A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6EAD1602-867E-4E58-82D9-9EC255346B4D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5AC5BFC-5A20-4889-A13A-64CB0B963807</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E58CDB79-883E-4C3D-AA17-82C11656208F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>requires Karabiner elements</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Spotify Addons &amp; Keyboard Remapping</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>current</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Information on Current Playback</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A61354DB-E524-4D0E-A28B-8AAC9523262F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>show_current_track</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>com.vdesabou.spotify.mini.player</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>8EF193F5-A2E3-4A49-BA7A-F70313BF2B27</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>podcasts</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Podcasts</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1EDA82D8-DEB1-4151-8DC5-F51794B6E2FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>show_shows</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>com.vdesabou.spotify.mini.player</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>D6EB3AB5-9048-465D-AF65-48C51D047CC0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>spot_mini</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>com.vdesabou.spotify.mini.player</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>A86B85AF-6D88-4FBD-B6AE-5B97A0E3ADA1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>shows</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Podcasts</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>263DA679-0602-45FE-A0A6-45AEFAB74FDD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>play</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Playlist: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6CD8AF93-D744-4CEC-B5D0-A20CA8D0CC3D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>✧Playlist▹{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>86E09A50-EBF6-4941-A0FA-85796C77228C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>show_search_online</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>com.vdesabou.spotify.mini.player</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>09264DB4-F9F0-4B1A-BDFE-A4D02F0B6AA9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>pod</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Podcast: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CD3DCD06-0285-4282-BA32-689DC26CE0A9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>spot_mini</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>com.vdesabou.spotify.mini.player</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>1FD0DFFE-0E3F-4396-8B1E-AE93C7195657</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>song</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Song: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9B531A14-88BF-44C0-B14F-371CF58903CB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Search Shows Online▹{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6EAD1602-867E-4E58-82D9-9EC255346B4D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>spotify</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Browse</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F5AC5BFC-5A20-4889-A13A-64CB0B963807</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pod</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Podcast on Spotify: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1D4EED54-9514-43EC-9BC4-7A8A6B03907C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://open.spotify.com/search/{query}/shows</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>28E7073C-2779-46C7-A8E3-007F46FC376A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://open.spotify.com/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E58CDB79-883E-4C3D-AA17-82C11656208F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>09264DB4-F9F0-4B1A-BDFE-A4D02F0B6AA9</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>1D4EED54-9514-43EC-9BC4-7A8A6B03907C</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>1EDA82D8-DEB1-4151-8DC5-F51794B6E2FE</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>1FD0DFFE-0E3F-4396-8B1E-AE93C7195657</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>263DA679-0602-45FE-A0A6-45AEFAB74FDD</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>28E7073C-2779-46C7-A8E3-007F46FC376A</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>6CD8AF93-D744-4CEC-B5D0-A20CA8D0CC3D</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>Playlists</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>6EAD1602-867E-4E58-82D9-9EC255346B4D</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>86E09A50-EBF6-4941-A0FA-85796C77228C</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>8EF193F5-A2E3-4A49-BA7A-F70313BF2B27</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>9B531A14-88BF-44C0-B14F-371CF58903CB</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>A61354DB-E524-4D0E-A28B-8AAC9523262F</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>A86B85AF-6D88-4FBD-B6AE-5B97A0E3ADA1</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>CD3DCD06-0285-4282-BA32-689DC26CE0A9</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Search Podcasts</string>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>D6EB3AB5-9048-465D-AF65-48C51D047CC0</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>E58CDB79-883E-4C3D-AA17-82C11656208F</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>F5AC5BFC-5A20-4889-A13A-64CB0B963807</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
