<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>bar-code.png</string>
			<key>URL</key>
			<string>http://www.ottobib.com/isbn/{popclip text}/bibtex</string>
			<key>Title</key>
			<string>ISBN 2 BibTeX</string>
			<key>Regular Expression</key>
			<string>[\d\-—–]{10,}</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Turn an ISBN to a BibTeX using OttoBib</string>
	<key>Extension Identifier</key>
	<string>de.chris-grieser.isbn2bibtex</string>
	<key>Extension Name</key>
	<string>ISBN 2 BibTeX</string>
</dict>
</plist>
