<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.automationtasksexamples</string>
	<key>connections</key>
	<dict>
		<key>1BAE1729-4C5A-4B20-AE26-2D0562363DE2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9186317-2CC0-4239-9BE2-E56E6D41EAC4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>292B1732-A6B7-4BD6-9667-03FC74119C4A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA8DDDA4-B35C-4BB3-A40F-C51E98361A24</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>50E09912-FDE7-45D3-9D73-F68A67C2ABFC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08FAB332-BC48-4950-A103-2BC73000FB48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>94F72037-9F53-481D-8504-4299F07AEEA0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8D92C13-DDE9-4AAB-84E5-41E28172925A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B0CD67E7-A97B-4244-8001-240C29911822</key>
		<array/>
		<key>B29C42A4-C52E-4263-97E9-B2D0716743C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9B8E00A-1BCE-4B24-B3E5-15F95309ACD3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4D9BBA0-5761-44E0-B518-64FC5ED0A929</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0CD67E7-A97B-4244-8001-240C29911822</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C9B8E00A-1BCE-4B24-B3E5-15F95309ACD3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4D9BBA0-5761-44E0-B518-64FC5ED0A929</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF63697F-3196-4962-A239-15D1AB61D392</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94F72037-9F53-481D-8504-4299F07AEEA0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9186317-2CC0-4239-9BE2-E56E6D41EAC4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>292B1732-A6B7-4BD6-9667-03FC74119C4A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Examples of Automation Tasks</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Automation Tasks Examples</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>50E09912-FDE7-45D3-9D73-F68A67C2ABFC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_mode</key>
					<string>toggle</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/appearance/dark-mode.set</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>08FAB332-BC48-4950-A103-2BC73000FB48</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CF63697F-3196-4962-A239-15D1AB61D392</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.trash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>A8D92C13-DDE9-4AAB-84E5-41E28172925A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_path</key>
					<string>~/Downloads</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/directory.children.sort.added.leading.1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>94F72037-9F53-481D-8504-4299F07AEEA0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>match_string</key>
					<string>\.dmg$</string>
					<key>regex</key>
					<true/>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/argument-processing/argument.matching</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>B4D9BBA0-5761-44E0-B518-64FC5ED0A929</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_path</key>
					<string>~/Downloads</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/directory.children.sort</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>C9B8E00A-1BCE-4B24-B3E5-15F95309ACD3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.trash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>B0CD67E7-A97B-4244-8001-240C29911822</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B29C42A4-C52E-4263-97E9-B2D0716743C5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>DA8DDDA4-B35C-4BB3-A40F-C51E98361A24</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1BAE1729-4C5A-4B20-AE26-2D0562363DE2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_path</key>
					<string>~/Movies</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/directory.children.sort</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>E9186317-2CC0-4239-9BE2-E56E6D41EAC4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/argument-processing/argument.randomise.leading.1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>292B1732-A6B7-4BD6-9667-03FC74119C4A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>08FAB332-BC48-4950-A103-2BC73000FB48</key>
		<dict>
			<key>note</key>
			<string>Configured to Toggle, but can also be On or Off</string>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>1BAE1729-4C5A-4B20-AE26-2D0562363DE2</key>
		<dict>
			<key>note</key>
			<string>Open a random path in the Movies folder</string>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>292B1732-A6B7-4BD6-9667-03FC74119C4A</key>
		<dict>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>50E09912-FDE7-45D3-9D73-F68A67C2ABFC</key>
		<dict>
			<key>note</key>
			<string>Toggle Dark Mode</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>94F72037-9F53-481D-8504-4299F07AEEA0</key>
		<dict>
			<key>note</key>
			<string>Configured to the Downloads folder</string>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>A8D92C13-DDE9-4AAB-84E5-41E28172925A</key>
		<dict>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>B0CD67E7-A97B-4244-8001-240C29911822</key>
		<dict>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>B29C42A4-C52E-4263-97E9-B2D0716743C5</key>
		<dict>
			<key>note</key>
			<string>Trash DMG files in the Downloads folder</string>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>B4D9BBA0-5761-44E0-B518-64FC5ED0A929</key>
		<dict>
			<key>note</key>
			<string>Configured to match \.dmg$ as a regular expression</string>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>C9B8E00A-1BCE-4B24-B3E5-15F95309ACD3</key>
		<dict>
			<key>note</key>
			<string>Configured to the Downloads folder</string>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>CF63697F-3196-4962-A239-15D1AB61D392</key>
		<dict>
			<key>note</key>
			<string>Trash most recent download</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>DA8DDDA4-B35C-4BB3-A40F-C51E98361A24</key>
		<dict>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>E9186317-2CC0-4239-9BE2-E56E6D41EAC4</key>
		<dict>
			<key>note</key>
			<string>Configured to the Movies folder</string>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>610</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://alfredapp.com</string>
</dict>
</plist>
